[2018-06-13 11:32] NPadrutt commented on #1357
if you click no, the next time a payment is generated for your recurring payment, it still will have 100 as amount and not 150. So if you have a monthly payment for example this payment is generated on the 1. of the next month. But this dialog doesn't have anything to do with the current payment you are looking at or generate a new payment right now.

As far as I know we don't need any translation

[2018-06-13 11:40] cloudstalker commented on #1357
OK now I understand. Say I recur due next week, then next week's entry will be 100 instead of 150 is it?
![image](https://user-images.githubusercontent.com/19384512/41349026-1f740572-6f41-11e8-8435-affc312e075c.png)

[2018-06-13 11:47] cloudstalker opened #1359 "App crash when the recurring switch is on"
Platform: Windows 10 1803, x64, UWP.

Steps to reproduce:

1. Open app
2. Create an account
3. Click the "+" at the bottom
4. Turn on the recurring (the one at the end) switch
![image](https://user-images.githubusercontent.com/19384512/41349467-7d8f84f0-6f42-11e8-82d7-4167bc12f311.png)
5. Click virtually any button such as save, Accounts, about and get a crash
6. Restart the app you should see the

[2018-06-13 11:48] NPadrutt commented on #1357
exactly.

Mh, These are taken directly from the system.  What region settings do you have set on your computer?

[2018-06-13 11:53] cloudstalker commented on #1357
Singapore which is where I am currently at. (under regions and languages)
I changed it to China but the problem persists. Can I clean the cache somewhere to see if that helps? (not sure how)

[2018-06-13 12:02] NPadrutt commented on #1357
I don't think that here is a cache to clear. We probably format something wrong here.

[2018-06-13 12:17] cloudstalker commented on #1357
Is there any context for this?

[2018-06-13 12:28] NPadrutt commented on #1357
This is the subject for the Feedback Email.

[2018-06-13 12:59] cloudstalker commented on #1357
@NPadrutt I have finished and rectified some old translations that feels wrong. Hopefully all is going well :). Will see.

[2018-06-13 14:13] NPadrutt opened #1361 "Create custom dialog for add new payments and accounts"
Currently we use on Android and IOS a default selection dialog of Xamarin Forms which doesn't feature icons. This makes it harder to distinguish between the items and makes wrong selections more likely.
Therefore a custom popup for that welection would greatly increase the experience.

[2018-06-13 14:21] cloudstalker opened #1362 "Indicator for future recurring payments"
If I modify/delete the current payment, there is no way of knowing/editing those. Can consider create a UX that shows recurring payments in the future (grayed out) that can also be edited.

[2018-06-13 14:23] cloudstalker opened #1363 "Paymentlist not refreshed when a payment is added or modified"
Whenever I add/modify a payment, the list is not refreshed until I revisit the same page.

[2018-06-13 17:00] NPadrutt commented on #1362
I think this would be fixed with #544

[2018-06-14 03:40] cloudstalker commented on #1363
You are right.

[2018-06-14 03:53] cloudstalker opened #1364 "Some visual anomalies when shrinking the window in width"
- Downsizing the window in width will result in a big "Welcome" at the top
- In same widths the hamburger button is barely seen. (Not a problem in dark theme)

![image](https://user-images.githubusercontent.com/19384512/41390638-15739438-6fc9-11e8-96da-10be788ca7bb.png)

These two happen at the transition point when the navigation column changes to a single hamburger button. (Win10M (RIP) version

[2018-06-14 04:16] cloudstalker commented on #1362
Sure. I am actually thinking about improving the whole app, mainly the content side, trying to resolve most UI/UX relevant stuff (unresolved issues and others from me) all at once. Will present to you the visual prototypes using design softwares so that we get a better ground at discussing all the changes. I will go first with the UWP part.

In the mean time I will continue to test the app and let

[2018-06-14 04:26] IsaacMorris1980 commented on #1224
@NPadrutt
I still think this was a good idea, I have an idea what you could do is create what this ticket was intended for and when new indicator is clicked it transforms to textbox that would be editable if the note needed to be updated.  i will try to do what i think and you can tell me if it is good enough

[2018-06-14 06:40] NPadrutt commented on #1224
That sounds pretty interessting. Shall I reopen this issue for that or do you want to create a new one?

[2018-06-14 06:41] NPadrutt commented on #1362
sounds great :)

[2018-06-14 06:49] NPadrutt commented on #1364
Yes this will be targeted at a mobile or tablet platform.
Currently the hamburger button color button is set by a style to white. In that scenario we would have to adjust the color based on if the side panel is open or not.
The welcome is strange though. Probably changes a state and starts showing the built in titles again.

[2018-06-14 10:47] cloudstalker commented on #1364
Built in? As in MS's template or some legacy stuff?

[2018-06-14 10:58] cloudstalker opened #1365 "Change default target account to the one of the previous page"
So when there are several accounts, when I click open the accounts other than the first and hit the "add income/expense" button, the preset target account in the opened dialog is the first account. Might be better if we change it to the account whose page we hit the add button from. Same thing for transfer I guess.

[2018-06-14 11:09] cloudstalker commented on #1357
@NPadrutt just updated a few translations which seemed weird translated by previous guys.

[2018-06-14 11:49] cloudstalker commented on #1328
Where is the comment field? I can't seem to find it.

[2018-06-14 12:34] NPadrutt commented on #1328
Ah, that should be note fields. Question is if that is really useful. This was an idea I put down to keep it in mind (therefore marekd as idea :) ). Let me know what you opinion on this is.

[2018-06-14 12:36] NPadrutt commented on #1365
Definitly. There is already an issue for this. See here #1141

[2018-06-14 12:40] NPadrutt commented on #1364
see here: https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview

[2018-06-14 12:41] NPadrutt commented on #1357
Alright. I usually update the used translations before I release an update to the store.

[2018-06-14 12:43] cloudstalker commented on #1328
Coming to think of it, your other idea (the one regarding tags) might be great in conjunction with notes. Then in that case autocomplete is quite useful.

[2018-06-14 12:45] cloudstalker commented on #1365
lol sorry about duplicating

[2018-06-14 12:52] cloudstalker commented on #1364
This means that we just have to replace "welcome" with "" I guess.

[2018-06-14 13:32] #1357 closed

[2018-06-14 13:32] #1359 closed

[2018-06-14 13:32] #1363 closed

[2018-06-14 16:12] NPadrutt commented on #1224
Alright, then I reopen it.

The question is if you don't have a button how do you close it again? Click somewhere out of the list could be problematic since you will probably click another item.

Sure, no need to hurry.
Would you only suggest that for UWP / desktop or mobile as well?

[2018-06-14 16:21] IsaacMorris1980 commented on #1224
is it possible for mobile? i have no clue about that but since mobile devices have less screen space then desktop devices it sounds like it should be done on both.

[2018-06-14 18:17] NPadrutt commented on #1224
Well, I assume it is possible. But the question is if it makes sense.
But I would suggest that you start with a prototype of the desktop version so we can have a look at it without that you invested too much time. And if that looks nice and makes sense we go further from that :)

[2018-06-14 23:00] NPadrutt commented on #1329
Android did break with  PR #1360.

[2018-06-15 02:18] IsaacMorris1980 commented on #1224
it will be done as you say

[2018-06-15 12:48] IsaacMorris1980 opened #1371 "Issues building MoneyFox.Windows"
In order to build MoneyFox.Windows had to remove EntranceNavigationTransistionInfo.isTargetElement From  Paymentlistview and user control paymentlistviewcontrol  kept getting failed to find the attached property

[2018-06-15 13:09] NPadrutt commented on #1371
Can you try to close the view windows and try it again? I had the issue some times that when a view is open it will find some issues there and stop building cause of them despite the fact that they cause no issue on runtime.

Btw, we have an slack channel. Such issues are sometimes easier discuess there. drop me a mail if you want an invite. you can find my mail in my profile.

[2018-06-16 08:38] NPadrutt commented on #1224
nice! do you have a screenshot of it? I'm quite curious to see how it looks :)

[2018-06-16 12:02] IsaacMorris1980 commented on #1224
@NPadrutt
This is what it looks like

![untitled](https://user-images.githubusercontent.com/8432665/41498429-5bac5ffc-7122-11e8-88ba-0f46c9ad8f1b.png)

[2018-06-16 18:31] NPadrutt commented on #1371
@IsaacMorris1980 could you solve this?

[2018-06-16 21:40] IsaacMorris1980 commented on #1371
Issue is resolved via the steps above

[2018-06-16 21:40] #1371 closed

[2018-06-16 22:28] NPadrutt commented on #383
I think this is currently only possible on Windows.
My thoughts where for example to create a payment (income, expense, transfer) for you. But of course there is a pretty big room for other ideas :)

[2018-06-16 22:38] IsaacMorris1980 commented on #1247
To get multiple instance support you would have to follow the following:

https://docs.microsoft.com/en-us/windows/uwp/launch-resume/multi-instance-uwp#opt-in-to-multi-instance-behavior

[2018-06-16 22:51] IsaacMorris1980 commented on #383
@NPadrutt  do we want cortana support inside and outside of the app(eg. have people able to create a payment without having the application open initially?)

[2018-06-16 23:01] NPadrutt commented on #1247
nice, thanks for that. feel free to have a look at that and submit a PR if you want :)

[2018-06-16 23:02] NPadrutt commented on #383
I thought mainly outside. My initial idea was to enable users to create payments really fast and in a very easy manner.

[2018-06-17 21:44] IsaacMorris1980 commented on #383
I would like to try this

[2018-06-17 21:51] IsaacMorris1980 commented on #1247
Should we create a separate project for multiple instance support since we would need to fully redo the uwp app

[2018-06-17 23:14] IsaacMorris1980 opened #1378 "Support Deeplinking?"
Should we support deeplinking(eg if the app allowed for setting reminders for payments and other things and when the reminder popped up(independent of app open) user would be able to select reminder and be taken to correct page(payment list page,add payment dialog etc...))

[2018-06-18 05:59] cloudstalker commented on #1378
I could think of two scenarios where this can be useful. First one is when synchronization happens (changes synced from another device), selecting this notification should take users to the syncing page. Second one is when recurrence happens, taking users to the related account payment page. In addition to this, if there is some kind of financial goal, upon recurrence happening one is also notifie

[2018-06-18 08:04] NPadrutt commented on #383
Great. I mark it as in Progress for you :)

[2018-06-18 08:06] NPadrutt commented on #1247
I would overwrite the current one.

[2018-06-18 08:07] NPadrutt commented on #1247
What we would have to test extensivly is this part:
To avoid race-conditions and contention issues, multi-instance apps need to take steps to partition/synchronize access to settings, app-local storage, and any other resource (such as user files, a data store, and so on) that can be shared among multiple instances. Standard synchronization mechanisms such as mutexes, semaphores, events, and and so

[2018-06-18 08:09] NPadrutt commented on #1378
Yes Deeplinking makes a lot of sense with notifications. So far we do not create any, but issues like #366 might change that.

[2018-06-18 08:11] #1361 closed

[2018-06-20 00:52] IsaacMorris1980 commented on #1378
If we integrate more of cortana into the app it will require deeplinking as well(eg. tell cortana to open payment list page or something like that

[2018-06-20 12:29] cloudstalker opened #1379 "New design for UWP"
New design for UWP platform! Please share your thoughts and do not hesitate to ask me to clarify or add new pages where you think there could be more functions etc. UI sizes are not final.
[uwp-design.pdf](https://github.com/MoneyFox/MoneyFox/files/2119214/uwp-design.pdf)

[2018-06-21 13:12] NPadrutt commented on #1379
On a first glance it looks very nice. I have a more detailed look when I have bit more time.

[2018-06-22 08:29] NPadrutt commented on #1379
Generally I really like it.

Some Questions and thoughts:
- Do I see that right, that the navigation in desktop mode does no longer contain a back button?
- Does the number of accounts add real value or are there generally too accounts? Respectivly is that number that important?
- Also on the account list: currently you have a current value and the change this month, but I miss the end of month va

[2018-06-22 09:15] cloudstalker commented on #1379
- Correct. Instead of using the back button (desktop) I use a hierarchical description (e.g. "Accounts > New account) in the command section to let the users know where they are and click back to the previous place (e.g. by clicking the Accounts). Maybe I should make the interaction more conspicuous.

- Maybe not. I just couldn't think of any other stuff to fill the place lol. What do you suggest

[2018-06-22 09:28] NPadrutt commented on #1379
- would it make sense to have both, the breadcrumb navigation and the back button? Or might this be to overload? I think the bread crum navigation is great. The thing with the back button is, that I imagen that people are quite used to it due to the fact that all MS apps have one per default.
- The balance at the last of the month if all uncleared payments until then are taken into account, yes. C

[2018-06-22 10:12] cloudstalker commented on #1379
- It's fine to have both I think as the two's functions do not necessarily overlap. But for the small version there is already one back button so for that one I think the back should be on the top-left instead of command section.

- OK.

- Yes.

- For keeping the navigation pad, a way to do this from what I just looked at Microsoft's Mail app, where they put the option button at the bottom of the

[2018-06-22 10:16] cloudstalker opened #1381 "Navigation selected item not right after clicking "back""
To see this in one instance:
Open App -> Click settings -> Hit "back" button -> The selected item is not correct (i.e., it is still the previous page's item, in this case, settings)

[2018-06-22 16:21] NPadrutt commented on #1379
- yes true.
- another option would be in the menu beneath the three-dot-menu.
The question is, if we have less enough items who have to be on the top navigation. Maybe similar than on the phone, where only accounts, statistics and settings are on the top level.
- When it is a own view, wouldn't it be better to have like a menu point where a navigation occurs to emphasize the fact that it is a own

[2018-06-23 04:18] cloudstalker commented on #1379
- Um where then do we put the command buttons (add, transfer, etc.) since they maybe to few to be put inside a three-dot. It could be crowded for the small version (ofc we can always limit the minimum width available)

- Imo it's a own view but kind of in parallel with standard list. We could further show the link between the two by implementing animations (larger list shrinking to smaller, don't

[2018-06-23 09:30] NPadrutt commented on #1379
But I think we should first make the decision if we go for something with a TabBar or a hamburger menu.

[2018-06-23 12:12] cloudstalker commented on #1379
I would lean towards:

- hamburger for desktop version
- top: tab-bar, bottom: command buttons for smaller UWP
- top: tab-bar, "plus" button for commands like current fox app for Android
- bottom: tab-bar, top: navigation bar with command buttons on them for iOS

What do you think?

[2018-06-23 15:14] NPadrutt commented on #1379
good so far. It could get tricky though to have a hamburger menu on desktop and swap that for a tab bar on the phone. but I think we have to see how this goes.

So from my point feel free to start implementing things here. :)

[2018-06-23 15:30] cloudstalker commented on #1379
yeah I guess we just have to implement individually for them. The good thing I like about hamburger is that it is clearer with descriptions of each tab, especially on desktop (w/ large space available). Other than that I think it's close. I remember the MS mail app for mobile is also using hamburger so using that for mobile too is not off the table :).
good thing that we currently do not have mobi

[2018-06-23 21:42] IsaacMorris1980 commented on #1379
@cloudstalker  @NPadrutt  would #1225 be able to give a description of the icon on hover if we transfer to tabbed navigation?

[2018-06-23 21:50] NPadrutt commented on #1379
I think that would be possible regardless of if we move to a tabbed bar or not. But showing information for all the icons on hover is quite a good idea!

[2018-06-27 08:56] NPadrutt opened #1386 "App crashes when the back button is clicked"
The crash only happens when the physical back button of the device is pressed. The back button on the navigation bar works as expected.

[2018-06-27 20:38] NPadrutt commented on #1381
This can be fixed with a feature introduced in the current insider preview 17110.

https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview#code-example

[2018-06-27 22:14] NPadrutt opened #1390 "Support mouse back buttons"
On a lot of mice you have a back button. Currently if you click on this nothing happens. This should trigger a navigation back.

[2018-06-27 22:15] #1386 closed

[2018-06-27 22:15] #1048 closed

[2018-06-27 22:16] NPadrutt commented on #1364
I think this should be kinda fixed with #1389. Kinda in the sense of not ideal but ok for the moment.

[2018-06-27 22:19] NPadrutt opened #1391 "No option to delete the whole recurrence"
If you delete a recurring payment in android over the context menu of the list view the dialog who should ask if you want to delete the whole recurrence is not appearing. Therefore the recurrence will be recreated the next month.

[2018-07-12 02:38] IsaacMorris1980 opened #1400 "Comment Code"
@NPadrutt  Should we comment the code to make it easier for new contributors to understand what the code does?

it would have helped me and then i would not have to ask so many questions because i got lost trying to find out where items get initialized,  what some functions do etc.

[2018-07-12 09:20] NPadrutt commented on #1400
I think improving the experience for new developers is a great idea!
Maybe the question is, if code comments are the best way to achieve this, since they are always a mixed bag. They often introduce redundancy and are prone to not being updated when the code changes, therefore adding more confusion than support.

To help people start I think a better documentation would help a lot too. Currently t

[2018-07-12 10:39] cloudstalker commented on #1400
Yeah I do think the more detailed documentation is the way to go since ppl with some coding experience can understand the code but maybe not the logics behind (appreciate the variable/function naming at the moment to me they are quite straightforward).

[2018-07-12 12:17] cloudstalker opened #1402 "Auto Synching"
Implement Auto Download (so that the synching behaves like OneDrive)

[2018-07-13 03:06] IsaacMorris1980 commented on #1400
@NPadrutt i can see what you mean, however as you know i have had to ask you alot of questions some i think were valid and some after your answer had me saying duh and wondering why i needed to ask the question in the first place(I know it was because i  was so focused on what i was trying to do that i got lost in the code and there was nothing to orient on to get my bearings)

[2018-07-13 07:13] NPadrutt commented on #1400
What would have helped you more: code comments or some high level diagramms how things work?

Besides: none of the questions I can remember stroke me as especially unjustified.

[2018-07-14 02:04] IsaacMorris1980 commented on #1400
@NPadrutt  high level diagrams would help more then code comments

[2018-07-16 02:51] IsaacMorris1980 commented on #1390
Click event needs to look for xbutton1(usually the back button)  and xbutton2(usually the forward button)

[2018-07-16 09:54] NPadrutt commented on #1390
Is there a way to do that globally or would that be done in every page separatly?

[2018-07-17 00:32] IsaacMorris1980 commented on #1390
still checking

[2018-07-18 01:47] IsaacMorris1980 commented on #1390
@NPadrutt  Yes it can be done globally not sure how to add to app you can check out this page  https://docs.microsoft.com/en-us/windows/uwp/design/basics/navigation-history-and-backwards-navigation  it gives a small tutorial how to use back button i am assuming something similar can be used for forward buttons as well

[2018-07-24 13:37] cloudstalker commented on #1402
I had some time earlier to think about our current synchronization and the auto syncing and came up with a user interaction (or custom xaml control, if you will) design shown below:

![image](https://user-images.githubusercontent.com/19384512/43139520-8a5ba3aa-8f84-11e8-9864-2bc6938a253b.png)

To me there are three states as shown in the illustration (logged out, logged in (synced), logged in (not

[2018-07-26 15:17] NPadrutt commented on #1402
I really like the design and the icons!

[2018-07-26 16:49] cloudstalker commented on #1402
I am glad you like it!
I really hope there is someone can help me with some frontend stuff so that I can focus on designing and making custom controls, stuff like this. That's why I thought it would be supreme if Adobe CC could auto generate whatever things I make into code lol then I don't need help.

[2018-07-31 03:02] IsaacMorris1980 commented on #359
@NPadrutt i would also support icloud backup for ios as we are starting an ios app

[2018-08-01 11:44] NPadrutt commented on #359
good idea, yeah.

[2018-08-25 01:08] IsaacMorris1980 commented on #1284
@NPadrutt  can we create a page that hosts a webview and host the login page within the webview so that we can close the page without relying on one drive login page?

[2018-08-25 02:09] IsaacMorris1980 commented on #1224
#1379  would negate the changing into textbox and button

[2018-08-27 19:01] NPadrutt commented on #1284
We can, but only when we rewrite the whole login process on each plattform by ourself. Currently we use a library by Microsoft for that.

[2018-08-27 19:03] NPadrutt commented on #1224
Not necessarily. When we figure out a way to implement that, we can incorporate that into the new design.

[2018-09-24 04:00] IsaacMorris1980 opened #1416 "Siri Integration"
Should we integrate Siri(if possible) the same way we are doing Cortana?

[2018-09-24 04:01] IsaacMorris1980 opened #1417 "Google Assistant Integration?"
Should we integrate Google Assistant(if possible) the same way we are integrating Cortana?

[2018-09-25 12:18] DanielBHughes commented on #1340
Hi Nino how are you? I was wondering if I could pick this up? Or if there are other issues you can point my way? Thanks, Daniel

[2018-09-29 21:06] IsaacMorris1980 opened #1420 "Sqlite Error"
When running accountservice.Getallaccounts()  getting no table named accounts

I have 2 accounts setup labeled checking and savings

[2018-09-30 12:48] IsaacMorris1980 commented on #1420
i updated my repo with latest commits and is still am recieving the error

[2018-10-01 05:44] IsaacMorris1980 commented on #1020
@NPadrutt   I would like to try this one

[2018-10-01 13:18] NPadrutt commented on #1020
great :) I marked it as in progress for you.

[2018-10-02 00:25] IsaacMorris1980 opened #1425 "Lock Screen Notifications?"
Should we implement lock screen notifications to allow content from the app if needed to be displayed to the user without unlocking device?

[2018-10-02 08:28] NPadrutt commented on #1425
I assume you mean the lock screen on Windows right?
What kind of information have you thought of?

[2018-10-02 08:31] NPadrutt commented on #1020
Actually I like all of these options / can see use in all of these. The one I would probably use is the comparing of the last months. But I think that's very personal. So I think it's up to you :)

When it comes to the tile updates, I think it would make sense to update them regularly in the background with a background job.

[2018-10-02 13:01] IsaacMorris1980 commented on #1425
Programably it is no different the live tiles just different handling

[2018-10-02 13:02] IsaacMorris1980 commented on #1420
I am currently running this error down

[2018-10-03 11:12] NPadrutt commented on #1420
I think I have a similar issue on android in the latest beta update when the app is launched from suspended state. Did you get any further insights here?

[2018-10-04 11:19] IsaacMorris1980 commented on #1420
From what I have seen so far the the dbcontextfactory and ambientdbcontextlocator are both null but I could be wrong

[2018-10-06 00:27] IsaacMorris1980 commented on #1425
I was thinking similar to #1020 the live tiles,  although lockscreen notifications are limited in amount of content they can display(eg. lines of text they can display)

[2018-10-06 01:29] IsaacMorris1980 commented on #1420
retried running latest build and #1427  fixed the issue

[2018-10-06 01:29] IsaacMorris1980 commented on #1420
closing issue

[2018-10-06 01:29] #1420 closed

[2018-10-06 22:28] IsaacMorris1980 commented on #1020
@NPadrutt
You are correct i was going to use a background task for the updating.
1.  Showing last x transactions with x limited to 1-9?
2.  Comparing last months expenses to current expenses(text atlease ))? might be able to display charts
3.  Ability to create a live tile for each account to keep up to date on? - This will require updates to UI to allow user to select which accounts to pin and un

[2018-10-07 14:54] NPadrutt commented on #1020
mmh, you could add 2 to the individual account pages as well and there just considered the selected account?

[2018-10-07 15:01] NPadrutt opened #1428 "Use Logging Framework"
Since AppCenter has no support for Tracking Exceptions on UWP, we should introduce a logging framework who allows to log to a log file.

[2018-10-09 21:26] NPadrutt opened #1430 "Context menu does not show a image or text"

[2018-10-14 00:54] IsaacMorris1980 commented on #1428
do we want to create our own or use frameworks like nlog?

[2018-10-14 00:56] NPadrutt commented on #1428
Definitely use a existing one like nlog. Create a own doesn't really make sense I think.

[2018-10-17 07:00] NPadrutt opened #1431 "Activate automatic backup when login to backup service"

[2018-10-17 07:02] NPadrutt opened #1432 "Setting for automatic backup are not safed in beta"

[2018-10-17 07:40] #1430 closed

[2018-10-17 11:02] devmarc70 commented on #355
Hi, @NPadrutt . Could we use Phantom.js for this?

[2018-10-17 11:07] NPadrutt commented on #355
mmh, not sure how easy it would be to include javascript into a c# programm. Do you have experience with that?

[2018-10-19 00:05] IsaacMorris1980 commented on #1020
how often should i have it update

[2018-10-24 03:01] IsaacMorris1980 opened #1434 "Root Checks for Android Devices?"
Should we check for rooted devices and disallow or warn user that logging into accounts may not be safe on rooted devices?

In a rooted device normal system security can be bypassed

[2018-10-24 03:08] IsaacMorris1980 commented on #359
When this is implemented should the app control authentication or should the libraries that are provided have control of authentication?

[2018-10-24 16:49] NPadrutt commented on #1434
mmh, I'm not sure that this is necessary. I think if you have a device you use and it is rooted you did that yourself and by purpose.

[2018-10-25 06:07] IsaacMorris1980 commented on #1434
If we ever add functionality to connect to banks(eg. pull up to date information from accounts) this should be revisited.

Closing per comment

[2018-10-25 06:07] #1434 closed

[2018-10-27 17:44] IsaacMorris1980 commented on #1020
@NPadrutt   I just need to add globalization and so far this is what i have and currently not configurable by users

The primary tile - last 8 payments and next 8 payments they cycle every 3 minutes

Secondary tiles - balance and expenses from last month and currently on this month- updated every 3 minutes

I will be adding some issues to allow customization by users(so users can choose what to di

[2018-10-27 18:15] IsaacMorris1980 opened #1436 "Allow Users to customize live tiles content"
Need to add ability to have user to be able to customize live tile content between different options through settings or other means

[2018-10-29 08:28] NPadrutt commented on #1434
absolutly.

[2018-10-30 05:09] IsaacMorris1980 opened #1438 "Implement In app prompts?"
Should we implement in app prompts similar to the snackbar notification in android so we can update our user on things that have been running in the background are complete(eg. live tile was created, backup or restore finally complete, etc......)

[2018-10-30 06:56] NPadrutt commented on #1438
there would be the option of the usual notifications. But i'm not sure about these since they always land in the notificaton center and fill that up.. Or we would have to implement something new. Might be worth a thought.

[2018-10-30 12:22] IsaacMorris1980 commented on #1438
This would be a new implementation, Usual notifications do fill up the notification center, in app prompts are messages only displayed in the app not using notification(action) center.In app prompts slid up into the page with the message then slides out of the page when message time has been completed

[2018-11-12 21:32] #1432 closed

[2018-11-12 21:33] NPadrutt commented on #1431
Implemented

[2018-11-12 21:33] #1431 closed

[2018-11-13 03:32] IsaacMorris1980 opened #1451 "recurring payments not being correctly displayed in payment object"
@NPadrutt
 When i save a recurring payment then call paymentService.GetPaymentsByAccountId(accountid)  and ieterate on all payments i get a null exception error when attempting to call anything  payment.data.recurringpayment.{any part of recurring payment}.   The payment object is labeled as a recurring payment but the recurring payment part of the payment is always null.  The recurring payment is

[2018-11-13 12:16] NPadrutt commented on #1451
aah, yeah I see the confusion. The method `paymentService.GetPaymentsByAccountId(accountid) ` does not link the recurring payments. Therefore it is null. If you need it you can add an include in the PaymentService (around line 131). This should look similar to the Include of the Category.

[2018-11-14 05:16] IsaacMorris1980 commented on #1451
@NPadrutt Now that i know what it does i only need start date, end date, amount and recurrance only when attempting to get the next 8 payments  for the live tiles.  I will add the include on the that function in payment service.

[2018-11-14 05:16] #1451 closed

[2018-11-15 00:04] IsaacMorris1980 opened #1456 "Expand live tiles into Budget?"
Once budget is implemented and #1020  is implemented should we expand live tiles to be able to keep user up to date on budget information?

[2018-11-15 09:55] NPadrutt commented on #1456
That would be a nice idea.

[2018-11-15 20:53] eraser282 commented on #1391
Has this been fixed already? Couldn't reproduce this in the android simulator.

[2018-11-15 21:34] NPadrutt commented on #1391
Mmh.. maybe it was fixed the same was it was introduced: with a sideeffect ^^ have you checked if teh database was deleted properly from the database?

[2018-11-19 02:28] IsaacMorris1980 opened #1457 "Recurring payment start date incorrect"
When iterating over a list of payment entities and checking the attached recurring payment entities start date the start date displays as the last cleared recurring payment not the date when the recurring payment was first created

[2018-11-20 12:32] JohnMiz commented on #1246
Is this still available?
What kind of shortcuts? Like buttons that moves the user to "create payment" screen?

[2018-11-20 12:38] NPadrutt commented on #1246
yes this is still available :) the idea here was a shortcut when you tap long on the icon in the launcher.
for example [here](https://www.google.ch/imgres?imgurl=https%3A%2F%2Fcloud.addictivetips.com%2Fwp-content%2Fuploads%2F2016%2F10%2Fandroid-app-shortcuts-2.png&imgrefurl=https%3A%2F%2Fwww.addictivetips.com%2Fandroid%2Fhow-to-use-app-shortcuts-in-android-7%2F&docid=HUL4JWSjEtCSFM&tbnid=kqUik3iNX

[2018-11-20 13:00] NPadrutt commented on #1246
let me know if you want to have a look at this :)

[2018-11-21 02:41] IsaacMorris1980 opened #1460 "Adaptive numbers on live tiles"
On small and medium live tiles truncate numbers  so they will fit on tile.  Eg.  1,500.00 would be come 1.5K currently it would display 1,50.......  if you had 1511.31 no truncation is available

[2018-11-22 08:50] NPadrutt commented on #1020
Fixed with PR #1458

[2018-11-22 08:50] #1020 closed

[2018-11-22 17:42] IsaacMorris1980 commented on #1438
i would like to try this one

[2018-11-22 17:42] IsaacMorris1980 commented on #1460
i would like to try this

[2018-11-22 22:42] NPadrutt commented on #1438
Alright it's marked as in progress for you :)

[2018-11-23 09:32] NPadrutt commented on #1460
great. Marked as in progress :)

[2018-11-23 14:45] IsaacMorris1980 commented on #1438
Which pages should we have the in-app prompt display on?

On android and ios do they get their forms from

[2018-11-23 19:06] IsaacMorris1980 commented on #1438
@NPadrutt  not sure how to do android and ios

[2018-11-24 02:31] NPadrutt commented on #1438
Mmh,maybe toasts are a option for android?

[2018-12-08 21:37] IsaacMorris1980 opened #1466 "live tiles not displaying correctly"
Primary tile is not diplaying past or previous payments

Secondary live tile in large is not showing payments until today

Fix in progress

[2018-12-09 00:47] IsaacMorris1980 commented on #1460
This will be added to pr for #1466

[2018-12-12 22:32] #1460 closed

[2018-12-12 22:32] #1466 closed

[2019-01-02 17:04] pablojimpas commented on #1379
Hi! Is there a redesign planned?
I think it would be great to use the new [Windows UI Library](https://github.com/Microsoft/microsoft-ui-xaml) to provide a Fluent Design style all the way down to Anniversary Update

Any news on this issue?

[2019-01-02 19:29] NPadrutt opened #1469 "Windows UI Kit"
Use Windows UI KIt to provide fluent design for older versions as well.

[2019-01-02 19:30] NPadrutt commented on #1379
@cloudstalker made a suggestion for a redesign and started with some adjustments. Not sure if he is still actively working on it. So feel free to propose changes.
To make use of the Windows UI Library seems like a good idea. I created a own issue for that  #1469.  let me know if you wannt to work on on of them :)

[2019-01-02 22:41] pablojimpas commented on #1379
I'm bussy until late this month but if @cloudstalker isn't working on it I'll try to make some design changes and add touches of Fluent with the implementation of WinUI. 👌

[2019-01-02 22:49] NPadrutt commented on #1379
awesome! :)

[2019-01-02 23:00] pablojimpas opened #1470 "Add Issue and PR templates"
Hi! I think is a great idea to complete this checklist adding Issues and PR templates in order to make it easier for newbies to contribute but also for users that want to report bugs.
In summary, is a good practice in open source projects.

![imagen](https://user-images.githubusercontent.com/17835916/50616430-cb72a300-0ee8-11e9-8736-6e83a607ae76.png)

PS: GitHub makes this really easy for the proj

[2019-01-02 23:05] NPadrutt commented on #1470
Good point and thanks for the resources :)

[2019-01-03 06:02] cloudstalker commented on #1379
@pablojimpas please go ahead. I also attach the file of the design which you can use if it's of your taste.
[UWP-MoneyFox.pdf](https://github.com/MoneyFox/MoneyFox/files/2722841/UWP-MoneyFox.pdf)

[2019-01-03 12:48] NPadrutt commented on #1470
Done. If you have suggestions for alterations, let me know.

[2019-01-03 12:48] #1470 closed

[2019-01-03 20:36] pablojimpas commented on #1470
Great! Wrapping all this GitHub related documents under the .github folder will be great also. You migh have to change some links as well.

[2019-01-18 12:44] NPadrutt commented on #280
I close issues that are active since a long time in the assumption that it isn't such a big need then. Can be reopened or recreated In case new information come up.

[2019-01-18 12:44] #280 closed

[2019-01-18 19:33] NPadrutt commented on #1400
@IsaacMorris1980 @cloudstalker  do you have any concrete points of documentation who would have help you starting?

[2019-01-19 00:49] IsaacMorris1980 commented on #1400
@NPadrutt   what would have helped was a relational map of items.  or inheritance map. i kept trying to find where things originated from so i could find where changes might be necessary.

[2019-01-23 16:29] NPadrutt opened #1476 "Timestamps for tasks are always Datetime.Min"
**Describe the bug**
In the settings is a timestamp when they where executed the last time for tasks. These are always DateTime.Min -> 01.01.0001

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings

**Expected behavior**
The correct date should be displayed.

**Screenshots**
![image](https://user-images.githubusercontent.com/1764367/51621198-4bae8600-1f34-11e9-973d-f7fb0406be71.pn

[2019-01-23 16:37] #282 closed

[2019-01-25 09:04] NPadrutt commented on #1476
fixed with #1477

[2019-01-25 09:04] #1476 closed

[2019-01-25 13:09] #1391 closed

[2019-01-27 20:53] NPadrutt opened #1482 "Total expenses and income for category overview"
**Is your feature request related to a problem? Please describe.**

In the category summary you can see all the expenses and incomes. But no summaries of them.

**Describe the solution you'd like**
In the category summary on the top of the list should be a total for the incomes and expenses similar to the balance overview in the account or payment list.

**Describe alternatives you've considered**

[2019-01-28 08:08] NPadrutt commented on #1340
Hey @DanielBHughes are you still working on this?

[2019-01-29 15:42] NPadrutt opened #1483 "Unify translation system"
**Describe the bug**
Currently there is a translation system for XF and parts of UWP as well as the old translations done in the UWP project. These two should be unified so that only is used. That also reduces the amount of translations and therefore makes it easier to keep the application localized.

[2019-01-31 08:13] DanielBHughes commented on #1340
Hi yes I intend to work on this today 

Sent from Yahoo Mail on Android

  On Mon, 28 Jan 2019 at 8:08 am, Nino Padrutt<notifications@github.com> wrote:
Hey @DanielBHughes are you still working on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-31 15:30] NPadrutt opened #1484 "Show monthly average in category summary"
**Is your feature request related to a problem? Please describe.**
In the category summary there should be for every category an additional line who displays the average of the last 12 months.

[2019-01-31 15:31] NPadrutt commented on #1484
fixed with PR #1481

[2019-01-31 15:31] #1484 closed

[2019-01-31 15:32] NPadrutt opened #1485 "Category Summary filter"
**Describe the solution you'd like**
In the category summary should be a filter which allows to show categories with no expenses or incomes in the current month. As well as change the sorting based on the monthly average instead of the amount of this month.

[2019-02-01 10:19] NPadrutt commented on #1142
merged with #1485

[2019-02-01 10:19] #1142 closed

[2019-02-01 10:19] NPadrutt commented on #1243
this is done.

[2019-02-01 10:19] #1243 closed

[2019-02-01 10:21] NPadrutt commented on #1272
This is done.

[2019-02-01 10:21] #1272 closed

[2019-02-01 10:23] NPadrutt commented on #974
Since "transaction" is used in other libraries alread I stay with payments in the code. But we could adjust the translations to reflect the difference.

[2019-02-01 10:23] #974 closed

[2019-02-01 15:59] #1483 closed

[2019-02-02 10:51] NPadrutt opened #1487 "Email and Browser tag does not work"
**Describe the bug**
In the about page are labels which are supposed to create an Email or open a browser page when clicked on them. But that does not happen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. change to About tab.
3. Click on "www.apply-solutions.ch" label
4. See that nothing happens

**Expected behavior**
The Browser and the website should open.

**Desktop (p

[2019-02-02 13:42] NPadrutt opened #1488 "Balance is always zero on account list"
**Describe the bug**
The balance is not calculated on the account list.
Also on the other pages the balance is wrongly calculated.

[2019-02-02 14:15] #1488 closed

[2019-02-03 10:16] NPadrutt opened #1490 "Not all payments no loaded"
**Describe the bug**
The payment overview does only show payments where that account was charged for, but not target ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an account with transfers
2. see that no transfers to that account are displayed.

**Expected behavior**
Charged and targeted payments are displayed.

**Desktop (please complete the following information):**
 - OS: Wi

[2019-02-04 16:51] NPadrutt opened #1491 "Uncleared payments are subtracted from account balance"
**Describe the bug**
Payments are subtracted from the current balance of the account even when it is not cleared.

**To Reproduce**
Steps to reproduce the behavior:
1. Add payment with date in the future
2. notice that balance is reduced.

**Expected behavior**
Payment is not subtracted when the account is not cleared.

**Desktop (please complete the following information):**
 - OS: Windows
 - Ver

[2019-02-04 17:37] #1490 closed

[2019-02-04 17:37] #1491 closed

[2019-02-07 09:57] NPadrutt opened #1493 "Monthly Balance is not calculated correctly"
**Describe the bug**
I have a End Of Month Sum of -15 and when I add a income of 700 it jumps to 1385.

**Expected behavior**
The sum should be calculated correctly.

[2019-02-07 09:59] NPadrutt opened #1494 "Recurring Payments do have the wrong date when they are created"
**Describe the bug**
I have recurring payments dated on the 25. of each month. Every time when the job ran, it created all the payments again.

**Expected behavior**
The payments should only be created once with the correct date.

[2019-02-07 10:01] NPadrutt opened #1495 "Creation Date"
**Is your feature request related to a problem? Please describe.**
When we analyze data entries it would be helpful to know when a given data entry was created.

**Describe the solution you'd like**
Add a CreationDate to the entity classes.

[2019-02-07 10:03] NPadrutt commented on #1494
Maybe related with this: Recurring Payments are not created as Recurring.

[2019-02-07 12:21] RobBentleyDev commented on #1493
On first impressions, I'd say the Income value is being added twice... 700 + 700 = 1400 - 15 = 1385.

[2019-02-07 20:15] RobBentleyDev opened #1497 "Page transition animations are not consistent for all main pages"
**Describe the bug**
When navigating between pages the page transition for the "Select Statistic" and "Settings" pages is inconsistent with the other pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the "Accounts" page
2. Go to the "Select Statistic" page
3. Observe that the title for "Select Statistic" page TITLE appears instantly rather than being animated into place along with

[2019-02-08 07:39] NPadrutt commented on #1497
Hi @RobBentleyDev

Thanks for your issue. I think the entrance navigation, as you noted, should be on all pages the same. Therefore I think if it is somewhere missing it isn't by design. If you can check and add where it is missing that would be great!

[2019-02-08 09:21] RobBentleyDev commented on #1497
Thanks @NPadrutt, I'll go through all of the pages over the weekend and add the page transition as necessary and create a PR.

[2019-02-09 10:41] NPadrutt commented on #1493
True. Interesstingly on my debug build it's calculated correctly. Maybe this is already fixed with something not rolled out on windows.

[2019-02-09 12:57] NPadrutt commented on #1494
this should be fixed.

[2019-02-09 12:57] #1494 closed

[2019-02-09 12:58] NPadrutt commented on #1487
I created issues in the Xamarin.Essentials project

https://github.com/xamarin/Essentials/issues/707
https://github.com/xamarin/Essentials/issues/706

[2019-02-09 12:59] NPadrutt commented on #1493
With the current version this seems fixed too.

[2019-02-09 12:59] #1493 closed

[2019-02-09 12:59] #1495 closed

[2019-02-09 13:00] NPadrutt commented on #1457
@IsaacMorris1980  can you check if this is still the case? I didn't experience that with the new code.

[2019-02-09 13:03] NPadrutt opened #1499 "Crash when tile is clicked and the app is already open"
**Describe the bug**
When you click the Tile and the app is already open it crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Go to the startmenu and click on the MoneyFox Tile
3. See that the open app crashes

**Expected behavior**
Either nothing happens or the already open window is focused.

**Desktop (please complete the following information):**
 - OS: Windows 180

[2019-02-09 13:06] NPadrutt opened #1500 "Entry fields for recurring payments clickable although not visible"
**Describe the bug**
When you create a payment as a default it is not recurring. Therefore the entry fields for the recurring options are not visible. But when you click around in the blank space you can still interact with them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Add Payment page
2. Click around in the blank space beneath the "Is recurring togle"
3. See that the enum fiel

[2019-02-09 15:57] NPadrutt opened #1501 "Category summary the average line has a linebreak on android"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an account
2. Add an payment with a category
3. go the category summary
4. see there is a line break

**Expected behavior**
There should be no linebreak.

**Screenshots**
![image](https://user-images.githubusercontent.com/1764367/52522921-c47b4500-2c8b-11e9-9ede-a94153

[2019-02-10 00:36] IsaacMorris1980 commented on #1457
@NPadrutt   It was working correctly when initial pr for live tiles was created forgot to add this number into pr

[2019-02-10 00:36] #1457 closed

[2019-02-11 08:24] NPadrutt opened #1503 "Android App crashes when a payment is opened"
**Describe the bug**
When I try to edit a payment on android the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to account list
2. Select an account
3. Select a payment
4. See error

**Expected behavior**
The edit payment screen opens

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
Not Ap

[2019-02-11 08:26] NPadrutt opened #1504 "Windows App crashes when Rate Reminder should be displayed."
**Describe the bug**
When the Rate Reminder shoul be displayed the app crashes since the call runs on the wrong thread.

**To Reproduce**
Steps to reproduce the behavior:
1. Start multiple times till the rate reminder is triggered.
2. see Exception.

**Expected behavior**
The rate reminder is shown properly

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (p

[2019-02-11 09:37] RobBentleyDev commented on #1497
This issues has now been resolved.

[2019-02-11 09:37] #1497 closed

[2019-02-11 10:06] NPadrutt commented on #1504
fixed with #1505

[2019-02-11 10:06] #1504 closed

[2019-02-11 15:20] NPadrutt commented on #1487
This seems to be an issue with my computer..

[2019-02-11 15:20] #1487 closed

[2019-02-11 21:08] NPadrutt commented on #1503
fixed with PR #1506

[2019-02-11 21:08] #1503 closed

[2019-02-11 21:08] NPadrutt commented on #1501
fixed with PR #1507

[2019-02-11 21:08] #1501 closed

[2019-02-15 13:26] NPadrutt opened #1508 "Backbutton overlaps hamburger menu"
**Describe the bug**
On Computers before 1809 the hamburger menu is overlapped by the back button after the first navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Start application
2. do a navigation that the backbutton is visible.
3. see error

**Expected behavior**
The Hamburger menu should move down.

**Screenshots**
![image](https://user-images.githubusercontent.com/1764367/52

[2019-02-15 22:40] NPadrutt opened #1509 "Target Account checkbox does not update properly"
**Describe the bug**
When you have Account A, B and C and start a transfer A is selected for charged and B for Target.
For ChargedAccounts you have all accounts for selection. In the Target Accounts you have B and C.
When you change the charged Account to C. A should be visible again in the TargetAccounts Checkbox but it isn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 3 Account

[2019-02-16 16:45] #1509 closed

[2019-02-16 16:45] #1499 closed

[2019-02-18 07:44] NPadrutt opened #1511 "Average in Category Summary wrong"
**Describe the bug**
So far it calculates the average for the range of today and the last payment in the last year. That means that if I only have one payment made that is automatically the average.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a payment with a category and set the date 3 months back
2. go to the category summary statistic
3. see that the added value is the average.

*

[2019-02-22 09:27] NPadrutt opened #1513 "On first run you are prompted to login to your MS Account"
**Describe the bug**
On first run you are prompted to login to your MS Account

**To Reproduce**
Steps to reproduce the behavior:
1. Intall IOS Testflight
2. Start App

**Expected behavior**
This prompt only shows when you go to the backup page and click login.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
No

[2019-02-22 09:29] NPadrutt opened #1514 "Invalid Grant after login to MS Account"
**Describe the bug**
When you login to your MS Account you get a message with invalid grant. Sync is working nonetheless.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Backup view.'
2. Click on 'Lgin'
3. Enter your information
4. See error

**Expected behavior**
No message appears.

**Screenshots**

![screenshot](https://user-images.githubusercontent.com/1764367/53233039-ac90c180-36

[2019-02-22 15:28] NPadrutt opened #1516 "Background Task is not executed on windows"
**Describe the bug**
Background sync is not done automatically on Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. See that timestamp always is the same.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informat

[2019-02-23 22:48] NPadrutt opened #1518 "Recurring Payment do not adjust balance correctly"
**Describe the bug**
Background tasks who create a recurring payment do no adjust the current balance of the charged and target account correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a payment dated a day back.
2. Execute recurring Payment Task
3. see account balance is not correct.

**Expected behavior**
Balance is adjusted correctly.

**Desktop (please complete the follo

[2019-02-24 11:30] #1511 closed

[2019-02-24 12:39] NPadrutt commented on #1514
this does also apply to android. But there the dialog does dissappear after a second or so automatically.

[2019-02-26 07:21] NPadrutt opened #1521 "if you edit a payment, the amount is not updated but added again"
**Describe the bug**
If you have edit a payment and adjust the amount it does not remove the former amount and add the new but just add the amount again.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a payment for 500.- for a account with Current balance 0.-
2.  see that it is 500.- now
3. Edit the payment and save again without adjust anything
4. See that the current balance now is

[2019-02-26 17:03] #1521 closed

[2019-02-26 17:04] #1518 closed

[2019-03-06 19:21] RobBentleyDev opened #1526 "Accounts can not be deleted"
**Describe the bug**
Delete Account menu option does not actually delete the account.

**To Reproduce**
1. Go to Accounts List page.
2. Open the Account Context menu (swipe right on iOS, press & hold on Android, right click on Windows).
3. Select Delete
4. Select OK to confirm deletion.

**Expected behavior**
At this point, the account should be deleted, but it is not, and remains visible on scree

[2019-03-07 14:02] NPadrutt commented on #1526
this is fixed. Thanks @RobBentleyDev !

[2019-03-07 14:02] #1526 closed

[2019-03-07 14:02] NPadrutt commented on #1516
Fixed

[2019-03-07 14:02] #1516 closed

[2019-04-14 14:36] NPadrutt commented on #1428
This can be used as described here: https://www.mvvmcross.com/documentation/fundamentals/logging

[2019-04-14 14:36] #1428 closed

[2019-04-15 09:41] NPadrutt opened #1542 "App crashes when you have not entered a category name and click save"
**Describe the bug**
App crashes when you have not entered a category name and click save

**To Reproduce**
See the video [here](https://storage.googleapis.com/play-mtaas-results-prod/com.applysolutions.moneyfox/2019104002/griffin-24-en_AU-portrait/video.mp4?GoogleAccessId=498997737111-pmn4sf5896c460sheh5fv3k1j1cq46t5@developer.gserviceaccount.com&Expires=1555322863&Signature=CVppZ4z/f3R8Fp8MAzaSb

[2019-04-15 12:44] NPadrutt opened #1544 "App Crashes when started from hibernation"
**Describe the bug**
When the application is started from scratch everything works. But when it is already started and hibernated the app will crash

**To Reproduce**
Steps to reproduce the behavior:
1. start application
2. click home button
3. wait for 30 minutes
4. click launcher icon and see crash

**Expected behavior**
The app should start without a crash.

**Screenshots**
If applicable, add s

[2019-04-15 12:45] NPadrutt commented on #1542
I opened a StackOverflow question:
https://stackoverflow.com/questions/55650473/mvvmcross-could-not-find-a-setup-class-for-application

[2019-04-16 06:09] #1542 closed

[2019-04-16 06:10] NPadrutt commented on #1544
I opened a StackOverflow question:
https://stackoverflow.com/questions/55650473/mvvmcross-could-not-find-a-setup-class-for-application

[2019-04-16 10:13] snehansh opened #1547 "Registration failed for UWP"
**Describe the bug**
Getting the following error:

`DEP0700: Registration of the app failed. [0x80073CFB] The current user has already installed a packaged version of this app. An unpackaged version cannot replace this. The conflicting package is 57598ApplySolutionsSoftwa.MoneyFox and it was published by CN=071307B1-B0E3-434A-AD0E-FFF714A7245C.	MoneyFox.Uwp`

**To Reproduce**
Steps to reproduce th

[2019-04-16 10:29] NPadrutt commented on #1547
I assume that you have the version from the store installed. Since the project in the store is associated with the store they have windows see's them as identically which leads the error ( probably it asked you to replace the installed version which you assumingly denied). To have both side by side you would have to associate the package with another ID. For that you would have to have a developer

[2019-04-16 10:45] NPadrutt commented on #1547
Maybe we can use a beta assosciation in the repository and only resign it in the CI / CD pipeline. That would make it a lot more comfortable..

[2019-04-16 10:57] snehansh commented on #1547
Thanks @NPadrutt  for the quick response. I uninstalled the app from store and ran again. It worked!

[2019-04-16 10:57] #1547 closed

[2019-04-16 12:16] NPadrutt opened #1548 "Button Effects are not applied on ios"
**Describe the bug**
Button Effects are not applied on ios.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'backup'
3. See error

**Expected behavior**
The buttons have a custom effect

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Windows
 - Version [e.g. 22]

**Smar

[2019-04-16 12:17] NPadrutt opened #1549 "backup page spinner not showing"
**Describe the bug**
The spinner on the backup page does not show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'backup'
3. See error

**Expected behavior**
The Spinner should be visible while getting latest backup date.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

**Sm

[2019-04-16 12:21] NPadrutt commented on #1513
The dialog is only shown when a user has activated the auto backup.

[2019-04-16 12:21] #1513 closed

[2019-04-16 12:48] #1548 closed

[2019-04-16 12:48] #1549 closed

[2019-04-18 23:09] NPadrutt commented on #1358
Not sure if password protection really is a need for the users. In case it is we have to reimplement it from the ground up, since the current implementation is quite messy. Therefore closed for now.

[2019-04-18 23:09] #1358 closed

[2019-04-18 23:10] NPadrutt opened #1551 "On Start there is no Menu Item selected"
**Describe the bug**
On Start there is no Menu Item selected

**To Reproduce**
Steps to reproduce the behavior:
1. start application

**Expected behavior**
The first item is selected.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1764367/56396612-f8e91f80-623f-11e9-8187-b40cced38f6b.png)

**Desktop (please complete

[2019-04-19 10:16] #1469 closed

[2019-04-19 10:16] #1551 closed

[2019-04-22 10:54] snehansh commented on #1482
I am interested to take this issue.

[2019-04-22 10:55] NPadrutt commented on #1482
Is marked as in progress. :)

[2019-04-22 13:05] NPadrutt opened #1553 "Replace MVVM Framework"
**Is your feature request related to a problem? Please describe.**
Currently we use MvvmCross as MVVM Framework. This decision comes from when the android still was written with Xamarin Default and with Android Layouts instead of Xamarin Forms. Also it provided quite some functionality via plugins that would have been implemented otherwise.

Since we moved to Xamarin Forms which has it's own bindi

[2019-05-02 21:33] NPadrutt opened #1554 "Comma and period are removed in russian localization"
**Describe the bug**
Comma and period are removed in russian localization

**To Reproduce**
Steps to reproduce the behavior:
1. Set Russian Language and region
2. Go to add payment
3. Enter a point see that it dissapears instantly.
4. Enter a comma and enter another number and see that the comma is removed.

**Expected behavior**
A comma is used correctly.

**Screenshots**
[device-2019-05-02-18350

[2019-05-07 12:13] NPadrutt commented on #1554
Language to select for reproduction:
![Screenshot_20190507-150637](https://user-images.githubusercontent.com/1764367/57298367-4edc1500-70d2-11e9-8361-af30f20f8d10.png)

(The first in the list: Русский (Россия))

[2019-05-15 19:13] NPadrutt commented on #1514
This should be fixed with the move to the graph SDK and Microsoft Identity Client authentication.

[2019-05-15 19:13] #1514 closed

[2019-05-15 19:15] NPadrutt opened #1559 "Crash when navigate to backup page"
**Describe the bug**
The app crashes when navigating to backup page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to backup page
2. Log in to OneDrive
3. Close and reopen
4. Go to backup page
5. see Login dialog and login again
6. see crash

**Expected behavior**
No need for further logins. No crash

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartp

[2019-05-15 19:16] NPadrutt opened #1560 "Show Profile Information on Backup page"
**Describe the solution you'd like**
Via the graph API we can load information about the synced account. I think it would be nice to show some additional information there like the name and the profile picture.

[2019-05-18 12:40] IsaacMorris1980 opened #1564 "What should be displayed in live tiles?"
**Is your feature request related to a problem? Please describe.**
Currently live tiles displays account balance on a smal tile, medium display balance and look at expenses this month and last month. and finially on the large tile it displays the above information and some of the previous payments(expenses, transfers,and income)

**Describe the solution you'd like**
I would like the information di

[2019-05-18 21:44] IsaacMorris1980 opened #1565 "Create Chasable Live Tiles"
**Is your feature request related to a problem? Please describe.**

Currently when selecting our current implementation of live tiles the application crashes.

**Describe the solution you'd like**

I would like to have live tiles that when i click on the live tile it directs me to the correct place in the app to see more information about  what was displaying on the live tiles

**Describe alternat

[2019-05-19 11:04] NPadrutt commented on #1564
Nice suggestions.
I think for showing the last month we would have something like in #1148.
The forecasting would be pretty interesting too. We could use that for a statistic page as well (for example in #1340) or first implement #356 and use that.
What easily should be possible is the balance at the end of the current month.

[2019-05-19 13:18] IsaacMorris1980 commented on #1564
@NPadrutt  The balance at the end of the current month would  only be a forecast as we would only have re-occuring payments that we would be able to use for figuring out balance at the end of the month it would have to be update for each new payment that is entered.  I like the budget idea but unsure what to display since a budget could encompass multiple accounts.

[2019-05-19 15:27] NPadrutt opened #1567 "Check for newer backup on Server"
**Is your feature request related to a problem? Please describe.**
 In case i changed something and I open the app between the synchronisations it is not ensured that I have the up to date data.

**Describe the solution you'd like**
The App should check for new data on OneDrive and Inform the User in case it has found somtehing. There should be the option to download it right away.

[2019-05-19 15:29] NPadrutt opened #1568 "Inform the user about a restored backup when the app is open"
**Is your feature request related to a problem? Please describe.**
When I have the app open and the backup is restored the new data will show up when I reload a page for the first time. Besides that the user won't be informed that a backup was restored.

**Describe the solution you'd like**
When a backup is restored the user should be informed via a notification. Also there should be a option for

[2019-05-21 02:44] IsaacMorris1980 commented on #1565
After re-looking at this this will be fixed when #1564  is descided and implemented

[2019-05-21 02:44] #1565 closed

[2019-05-21 06:58] NPadrutt commented on #1564
@IsaacMorris1980  the reoccuring but also all payments already entered. That would basically be the same as you have on top of the account list. The refresh should be handled by the background task automatically.
regarding the budget I think the big question is how we would implement that one. There are some things to consider. But I don't think that it would be an issue that a budget spans multip

[2019-05-22 04:22] IsaacMorris1980 commented on #356
@NPadrutt   Should savings be a sub/extend class from budget. or separate like payment and re-occuring payment?

[2019-05-23 08:31] NPadrutt commented on #356
Not sure that I understand that question correct. I think you would have a budget entity class to save the settings you made, but I would probably calculate the savings on the fly. But that would really depend on how you would implement it in the end.

[2019-05-24 12:31] #1554 closed

[2019-05-27 00:34] IsaacMorris1980 commented on #356
@NPadrutt   i would like to attempt this

I plan on doing this in stages

Stage 1 implement spending limits on both accounts and categories

Stage 2 Implement Budgets (non-saving projects)

Stage 3 Implement Budgets (Saving Project and potentially add live tile support )

[2019-05-27 12:59] NPadrutt commented on #356
I marked this issue as in progress. so far I'm not sure what the exact difference is between the budget with and the one without saving projects. But I'm sure we'll here more about these once you get there :)

[2019-05-27 20:50] IsaacMorris1980 commented on #356
When i look back over it you are correct.  I initially thought we would be able to do  statistics over the burn rate to target on a savings project your comment got me thinking we would be able to do the same with the budget will edit above

do you have any ideas when would be a good percentages to send notifications ?
For savings projects  i was thinking 50,75,90,100?
For budgets was thinking 50,

[2019-05-31 12:23] IsaacMorris1980 commented on #356
@NPadrutt

For stage one  i am considering 2 different options and would like to get feedback on both options:

Option 1 - Add an event and or method to the account and category to be triggered when anything on the account/category changes

Option 2 - Create a background service one each platform that can run on a timer  or subscribe to changes in account/category changes

Not sure which way is be

[2019-05-31 20:33] NPadrutt opened #1580 "Use Xamarin Forms Shell"
**Is your feature request related to a problem? Please describe.**
With Xamarin Forms Shell we probably can simplify the code. This should be explored.

[2019-06-02 11:45] NPadrutt commented on #356
The question is probably what the best experience is for the user. I would probably tend to trigger it when a change is made, so it is transparent for the user what change did cause it to trigger. The difficulty here might be what is with the current background jobs? They probably could cause the change. Also how can you prevent spamming notifications, for example when you clear payments or create

[2019-06-02 15:07] NPadrutt opened #1583 "App crashes when you try to delete a category"
**Describe the bug**
App crashes when you try to delete a category

**To Reproduce**
Steps to reproduce the behavior:
1. Go to category list
2. Select a category
3. Click delete
4. See error

**Expected behavior**
Category is deleted and database synced.

**Additional context**
Add any other context about the problem here.

[2019-06-03 08:50] NPadrutt opened #1586 "Include NLog in iOS"
**Describe the solution you'd like**
Currently Logs are written in Android and UWP. This should also be the case under ios.

[2019-06-03 08:52] NPadrutt opened #1587 "Attach log file in support requests"
**Is your feature request related to a problem? Please describe.**
When a user contacts the support via email in most cases we have to ask back to get the log file.

**Describe the solution you'd like**
When the user contacts the support via the button in the about page it attaches the log file automatically.

**Describe alternatives you've considered**
- There could be a button "Show Log" which o

[2019-06-03 12:40] NPadrutt opened #1589 "Remove Login"
**Describe the solution you'd like**
The login mechanism is quite hacky and uses a lot of code, but in the end I think not a lot user does really use it. Also it is only available on windows. I suggest to remove this feature. In case of a strong user demand this can be reimplemented with all platforms in mind.

[2019-06-03 14:37] #1583 closed

[2019-06-04 14:59] #1589 closed

[2019-06-04 20:19] NPadrutt commented on #1553
After working with ReativeUI it turns out that this would case need much bigger refactorings. Also it would make it much harder for new developers to contribute. I reevalutated the Frameworks and saw that MvvmLight has certain Navigation Services implemented and has a lot of examples in the internet for Xamarin Forms which do work well. So I will make a step in this direction.

[2019-06-09 16:07] NPadrutt opened #1595 "Use font icons instead of images"
**Describe the solution you'd like**
Currently we use images display for example the cleared state. In the future this should be done using a font icon and for example the material design icons font. That needs less space, scales better and is easier for theming.

[2019-06-09 16:30] #1559 closed

[2019-06-09 16:31] NPadrutt opened #1596 "Show end of month balance of each account in the account list"
**Is your feature request related to a problem? Please describe.**
Currently you have to navigate to the payment list if you want to see the end of month balance of an account.

**Describe the solution you'd like**
Add a second line to the account list showing for each the end of month balance.

[2019-06-21 17:27] NPadrutt opened #1597 "Use DataGrid for payment list"
**Is your feature request related to a problem? Please describe.**
The current payment list is quite static. It would be great to have the option to group and sort this better.

**Describe the solution you'd like**
We could use the Telerik Data Grid for display this. That offers sorting, grouping and filtering out of the box.

**Describe alternatives you've considered**
There is a DataGrid in the

[2019-06-23 14:50] NPadrutt commented on #1580
This was evaluated, but would change the navigation pattern unfavorably. Therefore closed.

[2019-06-23 14:50] #1580 closed

[2019-06-23 14:56] NPadrutt commented on #1586
This is included. but IOS does not support access the log directly. So we can only access via ways like #1587.

[2019-06-23 14:56] #1586 closed

[2019-06-23 15:01] NPadrutt opened #1599 "Xamarin Forms Visuals"
With Xamarin Forms Visuals we can add a more interesting design and also one that is more coherent between ios and android.

[2019-06-29 13:04] NPadrutt opened #1602 "Use Stepper instead of Entry"
**Describe the solution you'd like**
Currently we use a Entry in the Background Job Settings page for allow the input of the hours to sync for a backup. It would be much nicer to have a stepper there. Since Xamarin Forms supports that control now this should be quite straight forward.

[2019-06-29 15:26] Sreini opened #1603 "Average Daily Spending statistic"
A neat feature to have would be to be able to display the average daily spending over a certain time period. Ideally this would be available somewhere in the statistics menu. I feel this is a useful metric because it would allow a user to calculate how much they can expect to spend over a certain arbitrary period of time. We could even build this in a way that allows the user to exclude or include

[2019-06-29 16:54] NPadrutt commented on #1603
That sounds like a really nice idea! We could create a new statistic next to the cash flow, category spreading and category summary.

[2019-06-29 20:33] NPadrutt opened #1604 "AutoSuggestBox for search"
**Describe the solution you'd like**
To make search easier it would be nice if there are categories suggested once you start typing. This can be accomplish with the AutoSuggestBox on UWP.

[2019-06-29 20:37] NPadrutt opened #1605 "Support for dense UI"
A lot of users on Windows will use the app only with mouse and keyboard. For these users a more compact style could be valuable as it allows more content to be shown on a given page. For that we could utilize the dense resource style of UWP and apply it based on a setting.
Interessting here would also be, if we can set this based on if tablet mode is active or not.

[2019-06-29 20:39] NPadrutt opened #1606 "Introduce TeachTips"
With teaching tips we could show a new user important and maybe not self explanatory menus and options, for example the balance control on top of the account or payment list.
Also we can highlight new features in the future.

[2019-06-30 13:12] Sreini opened #1607 "Add "require note" checkmark when creating a category"
When creating a category, it would be useful to be able specify if an entry (expense, income) that falls undee that category should require a note or note. Users (me) have general categories under which they record one-off expenses. Forcing myself to add a note to every such entry can help with reminding me to keep track of what such expenses were actually for.

This should be easy to implement, a

[2019-07-02 06:23] NPadrutt commented on #1607
That sounds like a nice addition. Feel free to go on if want to implement that :)

[2019-07-02 09:17] #1553 closed

[2019-07-02 09:17] #1595 closed

[2019-07-02 09:17] #1544 closed

[2019-07-02 09:17] #1508 closed

[2019-07-02 09:17] #1599 closed

[2019-07-02 16:58] #1381 closed

[2019-07-04 12:36] Longtrainz commented on #1544
Hi Npdarutt, how have you resolved this issue? I have the same trouble with my Xamarin Android app.

[2019-07-04 13:21] NPadrutt commented on #1544
I replaced MvvmCross with MvvmLight

[2019-07-26 15:16] NPadrutt commented on #1607
@Sreini  I wanted to check in with you if you want to pick this up yourself or if I should have a look at it?

[2019-07-26 16:09] NPadrutt commented on #1438
Since there was no progress on this issue for quite some time and also a couple of libraries we could use for that purpose I close this issue.

[2019-07-26 16:09] #1438 closed

[2019-07-26 16:11] NPadrutt commented on #1402
Due to lack of activity closed. If problems with the sync occure please open a new issue.

[2019-07-26 16:11] #1402 closed

[2019-07-28 10:31] NPadrutt commented on #1328
Closed for now, since I'm not sure this is really helpful.

[2019-07-28 10:31] #1328 closed

[2019-07-28 10:33] NPadrutt commented on #1284
This is fixed with version 6.x and the new authentication process.

[2019-07-28 10:33] #1284 closed

[2019-07-28 10:36] NPadrutt commented on #1400
I thibk for most of these things are quite helpful tools in visual studio and resharper. For example you can search for implementing classes of an interface. Therefore this is closed.
That being saied, I still try to figure out a way to document important decisions without adding a lot of redundancy to the code. Also if something if not clear or difficult to understand feel free to hit me up for e

[2019-07-28 10:36] #1400 closed

[2019-08-08 08:26] NPadrutt opened #1626 "Statistic shows special character instead of currency"
**Describe the bug**
Statistic shows special character instead of currency
**To Reproduce**
Steps to reproduce the behavior:
1. Go to statistic
2. Select Cash Flow or Category Spreading

**Expected behavior**
The currency symbol is shown.

[2019-08-08 11:17] NPadrutt opened #1628 "Pie chart overlaps label in portrait mode"
**Describe the bug**
In portrait mode up to two labels are hidden by the pie chart.

**To Reproduce**
Steps to reproduce the behavior:
1.  Add a expense with a category
2. go to category spreading chart
3. See that the label is not visible

**Expected behavior**
The pie chart should shrink so that the labels are visible.

[2019-08-09 06:39] #1628 closed

[2019-08-09 06:39] #1626 closed

[2019-08-16 08:26] Sreini commented on #1607
@NPadrutt feel free to pick it up, I can't really say when I will do it myself so if you want to work on something feel free.

[2019-08-16 08:35] Sreini commented on #355
To add to this idea, generating a csv report would also be useful. More usable format for automation.

[2019-08-21 11:56] NPadrutt opened #1639 "Automatic Theme change when device theme is changed"
On Android and iOS there is currently only the option to change the theme manually to light or dark.
With Android Q and IOS 13 a dark theme support is introduced, so we should support to change the theme based on the OS setting.

Android doc for dark theme: https://developer.android.com/preview/features/darktheme

[2019-09-09 07:56] NPadrutt opened #1640 "White patches in category list"
**Describe the bug**
On IOS in the dark theme there are white patches on the rigth side.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Select Personalization
3. Choose dark Theme
4. Go back and select Categories
5. See the error

**Expected behavior**
There are no white patches visible.

**Smartphone (please complete the following information):**
 - Device: IPhone X Max

[2019-09-10 06:48] #1640 closed

[2019-10-01 03:39] siddharth952 commented on #1639
I would like to implement this in the iOS version of the app.

[2019-10-01 05:46] NPadrutt commented on #1639
Great! :) I'll mark it as in progress for you. Let me know if you need something.

[2019-10-01 18:05] NPadrutt commented on #1379
Since there was no activity here I'll close it.

[2019-10-01 18:05] #1379 closed

[2019-10-02 09:28] #1277 closed

[2019-10-02 09:29] #790 closed

[2019-10-02 09:29] #721 closed

[2019-10-02 09:30] #888 closed

[2019-10-02 09:32] #1247 closed

[2019-10-02 11:12] Sreini opened #1645 "Change double datatype to decimal"
**Describe the bug**
In some cases, adding transactions will lead to rounding that is not intended. This is due to the `double` data type used within the code base to represent monetary values.

**To Reproduce**
Add an expense with a value 17.81. You will see that the expense is saved and processed as 17.80.

**Expected behavior**
An expense is added with value 17.81.

**Additional Context**
`doub

[2019-10-02 11:45] NPadrutt commented on #1645
Thanks for the issue!
I checked the SQLite documentation after our Slack discussion (https://www.sqlite.org/datatype3.html). For floating Point numbers there is just one type: REAL. Therefore that shouldn't lead to any issues on the database if we change that type.

Do you want to resolve this issue yourself?

[2019-10-02 11:50] Sreini opened #1646 "Allow the user to set their financial month."
Most people don't get their salary on the first of the month. Therefore it would be useful if people were able to tell the software what day of the month they want the software to consider as the "current month" for the purpose of future expenses and projected remaining balance at the end of the month.

[2019-10-02 11:53] Sreini commented on #1645
Yes, I wouldn't mind. Although on the other hand the energy and time I have to contribute varies, and this is a potentially serious issue. I'll see if I can finish this.

[2019-10-02 12:02] NPadrutt commented on #1645
Alright. I marked it as in progress for you. In case something changes and you don't have the time / energy to finish this just let me know.

[2019-10-06 15:05] siddharth952 commented on #1639
@NPadrutt I am not able to find the iOS project files in this repo, please help me out.

[2019-10-06 15:07] NPadrutt commented on #1639
MoneyFox.Ios. see here: https://github.com/MoneyFox/MoneyFox/tree/master/Src/MoneyFox.Ios

[2019-10-06 15:12] siddharth952 commented on #1639
Okay, so the project is using Xamarin.

[2019-10-06 15:15] NPadrutt commented on #1639
Exactly, yes.

[2019-10-06 16:14] Sreini commented on #1645
This issue should be solved with the last merge. Therefore I'm closing it.

[2019-10-06 16:14] #1645 closed

[2019-10-06 19:55] Sreini commented on #1482
@NPadrutt can this issue be closed?

[2019-10-06 19:56] NPadrutt commented on #1482
yes, thank you!

[2019-10-06 19:56] #1482 closed

[2019-10-06 19:57] Sreini commented on #1327
Is this still an issue? I'll pick it up if this is the case

[2019-10-06 19:59] NPadrutt commented on #1327
As far as I can see this is resolved. Probably with one of hte refactorings.

[2019-10-06 19:59] #1327 closed

[2019-10-31 08:13] NPadrutt commented on #1602
This is resolved. A custom renderer for dark theme was added as well.

[2019-10-31 08:13] #1602 closed

[2019-10-31 08:14] NPadrutt commented on #1364
This should be fixes with with the new navigation view of winui.

[2019-10-31 08:14] #1364 closed

[2019-10-31 08:18] #418 closed

[2019-10-31 08:32] NPadrutt commented on #741
Closed since there was no progress in a long time. Feel free to reopen.

[2019-10-31 08:32] #741 closed

[2019-10-31 08:37] NPadrutt commented on #1329
Won't fix Android at this point. Might reconsider later.

[2019-10-31 08:37] #1329 closed

[2019-12-15 22:55] sbarbour21 commented on #1646
So are we talking about adjusting the start of the month for the entire application or setting the salary pay period date separately?

[2019-12-16 08:57] NPadrutt commented on #1646
From the description of @Sreini  I would have gone with a setting for the salary pay period and if that is set adjust the other features like calculating the balances and loading payments for the current month accordingly.

[2019-12-17 21:07] #1597 closed

[2019-12-20 13:41] #1568 closed

[2019-12-20 13:41] #1567 closed

[2019-12-20 13:43] #1241 closed

[2019-12-20 13:43] #1239 closed

[2019-12-20 13:43] #1226 closed

[2019-12-20 13:44] NPadrutt commented on #1224
Since there was no activity on this for a long time I close this issue. Please reopen if it is still relevant.

[2019-12-20 13:44] #1224 closed

[2019-12-20 13:46] #1058 closed

[2019-12-20 13:46] #1270 closed

[2019-12-20 13:47] NPadrutt commented on #1335
Not sure this adds the desired value. Therefore closed for the moment.

[2019-12-20 13:47] #1335 closed

[2019-12-20 13:50] NPadrutt commented on #355
@Sreini Do you have a concrete usecase for reports? I think if we want to think about that feature that would be very helpful.

[2019-12-20 13:50] NPadrutt commented on #1417
I close this issue since so far we don't seem to have a concrete vision for that. If I'm mistaken, please reopen.

[2019-12-20 13:50] #1417 closed

[2019-12-20 13:50] NPadrutt commented on #1416
I close this issue since so far we don't seem to have a concrete vision for that. If I'm mistaken, please reopen.

[2019-12-20 13:50] #1416 closed

[2019-12-20 13:50] NPadrutt commented on #1425
I close this issue since so far we don't seem to have a concrete vision for that. If I'm mistaken, please reopen.

[2019-12-20 13:50] #1425 closed

[2019-12-20 13:51] NPadrutt commented on #1362
Closed since duplicate to #544

[2019-12-20 13:51] #1362 closed

[2019-12-20 13:52] NPadrutt commented on #1365
closed since duplicate of #1141

[2019-12-20 13:52] #1365 closed

[2019-12-20 13:53] NPadrutt commented on #1639
hey @siddharth952
Just wanted to check in with you if you are still working on this or if I should give that back to the pool?

[2019-12-20 13:56] NPadrutt commented on #1564
Closed since we currently do not seem to be activly working on this. Please feel free to reopen when that changes.

[2019-12-20 13:56] #1564 closed

[2019-12-20 14:10] NPadrutt commented on #1456
Closed since we currently do not seem to be activly working on this. Please feel free to reopen when that changes.

[2019-12-20 14:10] #1456 closed

[2019-12-20 14:10] NPadrutt commented on #1436
Closed since we currently do not seem to be activly working on this. Please feel free to reopen when that changes.

[2019-12-20 14:10] #1436 closed

[2019-12-20 17:56] siddharth952 commented on #1639
@NPadrutt Please give this issue back to the pool, I'll work on this later if it happens to be open.

[2020-01-07 10:37] #1587 closed

[2020-02-19 07:40] heathen89 commented on #1604
Is this still relevant?
To my knowledge it already works like this.

![image](https://user-images.githubusercontent.com/44643241/74812279-7c0d5300-52f3-11ea-90fc-defd61e1c3a5.png)

[2020-02-19 07:48] heathen89 commented on #354
Is this for a specific form or all platforms and forms?

[2020-02-19 08:24] NPadrutt commented on #354
The integration of the webservice will be for all platforms. For that there is already an implementation. Also the whole handling on the database can be shared.
What is specific to UWP and Mobile is the UI. My idea would be to make some kind of a control for entering amounts and use that through the application. That way we could add support for that everywhere we're dealing with amounts pretty ea

[2020-02-19 08:27] NPadrutt commented on #1604
The idea was to use the AutoSuggestBox  instead of a dedicated dialog on UWP. My thought was, that it could be more straight forward since you don't have to navigate to a separate page.
But for the moment I circled a bit back to leave it the way it is now and maybe just use a dialog for a nicer appearance.

[2020-02-19 10:42] #1390 closed

[2020-02-19 10:43] NPadrutt commented on #1604
I think for the moment we can close that. If there is a concrete idea of improve the selection in such a way please reopen.

[2020-02-19 10:43] #1604 closed

[2020-02-19 10:46] NPadrutt commented on #383
I close that for now. If we hav e a concrete vision for supporting cortana or any other voice assistant feel free to reopen.

[2020-02-19 10:46] #383 closed

[2020-02-19 14:48] heathen89 commented on #354
I created a mockup for a flyout toolbar. Now, when i read your explanation again im unsure if you want something more connected to textbox or even that every transaction or sum should be connected to a Currency that is exchangeable.
![mockup](https://user-images.githubusercontent.com/44643241/74845396-3c645c80-532f-11ea-95ae-da6318d47a7c.png)

[2020-02-19 16:16] NPadrutt commented on #354
Oh that is interesting. I never thought about it in that way.
As you saied i thought more about it integrated to the textbox. something like this (very roughly)

![image](https://user-images.githubusercontent.com/1764367/74851264-48561b80-533b-11ea-96f7-7eb26565c42b.png)

With the text below only showing when you have selected a currency others than your default.
But I like the idea of having such

[2020-02-26 18:28] #1250 closed

[2020-05-14 15:00] CharleeBrown commented on #1639
I'll take this over.

[2020-05-14 15:06] NPadrutt commented on #1639
@CharleeBrown  awesome! :)

[2020-05-18 19:40] NPadrutt commented on #1639
@CharleeBrown I just stumbled over this article https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/theming/system-theme-changes

In case it helps :)

[2020-06-04 14:06] NPadrutt opened #1793 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-06-04 14:06] #1793 closed

[2020-09-14 07:17] #465 closed

[2020-09-14 07:18] NPadrutt opened #1852 "Statistic Category Summary: Show transaction history as a graph"
**Describe the solution you'd like**
When you select a category in the Category Summary Statistic there should be a pivot where you can see the history of transactions for it as a graph.

[2020-09-14 07:20] NPadrutt opened #1853 "New Statistic for transaction history for a category"
**Is your feature request related to a problem? Please describe.**
I want to see how the spending for a given category was over time.

**Describe the solution you'd like**
Create a new statistic where you can select the category and show the income and expense for the last 12 months or so in a graph.

[2020-09-14 07:21] #1245 closed

[2020-09-14 07:21] #970 closed

[2020-09-14 07:21] #606 closed

[2020-09-14 07:22] #506 closed

[2020-09-24 09:54] #353 closed

[2020-10-02 02:04] feokuma commented on #1607
this feature should show a warning window without closing the registration screen of the category?

[2020-10-02 07:30] NPadrutt commented on #1607
Exactly. You would get a warning or an error when you try to save a payment with a category assosciated whith this flag set.

[2020-10-03 04:37] feokuma opened #1874 "How to create migrations"
I couldn’t find documentation on how to create Migrations in the project. if it really doesn't exists I could create and in the same time implement a improvement

[2020-10-03 05:02] feokuma commented on #1607
I tried create a new field on Category Entity but I don't know how can I generate a migration. I tried to run `dotnet ef migrations add...` but I don't understand how to do this.. :(

[2020-10-04 16:27] gabrielatricak commented on #1500
Hi i would like to work on this. Can I be assigned to this?

[2020-10-04 21:11] NPadrutt commented on #1639
This is solved with v7.0. Although currently it takes a restart of the apl.

[2020-10-04 21:11] #1639 closed

[2020-10-04 21:15] NPadrutt commented on #1874
Basically it doesn't differ from the default way how to create migrations with EF core https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/?tabs=dotnet-core-cli

The only thing to note is that you have to set the Migration Helper Project as the startup project and select the persistence project as the target in the PackageManager console.

[2020-10-05 00:44] feokuma commented on #1874
I found the instructions here: [MoneyFox/MigrationCommand.txt](https://github.com/MoneyFox/MoneyFox/blob/master/MigrationCommand.txt)

Sorry @NPadrutt ... 😅

[2020-10-05 00:44] #1874 closed

[2020-10-05 07:44] NPadrutt commented on #1874
@feokuma uuh, that is a good hint since they are pretty sure out of date given that the DataAccessLayer Project no longer exists ^^

[2020-10-05 08:19] NPadrutt commented on #1500
@gabrielatricak sure, I added you. :)

[2020-10-06 02:56] feokuma commented on #1607
@NPadrutt what do you think? Simple right? 🙂

![Screenshot 2020-10-05 235447](https://user-images.githubusercontent.com/9166406/95153627-3f994500-0766-11eb-943d-338f7f6f302b.png)

[2020-10-06 07:32] NPadrutt commented on #1607
That looks nice  👍
The detail I would change is to make it align left with the textbox. :)

[2020-10-06 08:54] NPadrutt opened #1882 "Optimize for larger screens"
**Is your feature request related to a problem? Please describe.**
Devices like tablets or Desktops like the upcoming  Macs with Apple Silicon have a lot more screen space. So this space should be used.

**Describe the solution you'd like**
The usage of tablet / desktop specific views with a master detail Layout would be a good first step.

[2020-10-07 16:24] feokuma commented on #1607
@NPadrutt I thought that issue would be closed automatically when the merge terminated 🤔

[2020-10-07 16:36] NPadrutt commented on #1607
mh, I think you have to write "fix #[number]". At least that seemed to work when I tried it the last time ^^

[2020-10-07 16:36] #1607 closed

[2020-10-08 15:31] feokuma commented on #1606
Can I try to implement this feature?

[2020-10-08 17:10] NPadrutt commented on #1606
Sure, be my guest! :)
 Let me know if you need something.

[2020-10-08 20:26] NPadrutt opened #1888 "Change Theme dynamically without restart"
**Describe the bug**
When the device theme changes, the app has to be restarted to apply the new theme. This should happen automatically.

[2020-10-08 22:54] feokuma commented on #1606
Probably with the text of tips. I'll post some screenshots here.

[2020-10-12 22:13] feokuma commented on #1606
Hi @NPadrutt. Let me ask you.. We will show a tip only once right? I mean, we need to save this event to avoid show always the same tip. Is this it?

and which menus will show the tip beyond the balance control?

[2020-10-13 14:49] NPadrutt commented on #1606
Also, how about show a teaching tip on an account when the first was created to highlight that you can find the payments by clicking on the account? No idea how easy or hard that would be to accomplish though :)

[2020-10-13 16:41] NPadrutt opened #1890 "Grid should be sorted when clicked on a column header"
**Describe the solution you'd like**
Currently the grid on windows can't be sorted. This should be possible when clicked on a user clicks on a column header.

[2020-10-13 16:43] NPadrutt opened #1891 "Dark theme for message dialog"
**Is your feature request related to a problem? Please describe.**
Message dialogs are always in the light theme.

**Describe the solution you'd like**
There should be a custom message dialog implementation based on the content dialog.

**Describe alternatives you've considered**
Enable a dark theme for content dialog, although I don't think that this is currently supported.

[2020-10-13 16:45] NPadrutt commented on #1605
For the moment closed since I'm not sure that we need this kind of density.

[2020-10-13 16:45] #1605 closed

[2020-10-13 16:48] NPadrutt commented on #1225
Since there was no progress since over two years I remove the "in progress" label here .
@Tazkad  let me know if you still or again want to work on this :)

[2020-10-14 11:44] feokuma commented on #1606
Hum. I'm going to start with the settings and tip the payment menu item, then an open a PR. When it works properly we move on another items. What do you think?

[2020-10-14 12:25] NPadrutt commented on #1606
sounds good :)

[2020-10-25 23:16] pghdeveloper commented on #1890
Looking into this.

[2020-10-26 09:49] NPadrutt opened #1895 "DatePicker on iOS acts a bit strange with iOS14"
With iOS 14 the behaviour of the datepicker changed and the default now is a bit strange. Here we should check if other behaviour types do match better.

[2020-10-27 21:11] NPadrutt opened #1896 "Can't change time range for category summary on windows"
**Describe the bug**
You can open the dialog to change the date range for the category summary, but when you click okey it won't change the date range.
This only applies to the category summary statistic.

[2020-10-28 11:21] feokuma commented on #1606
Hi @NPadrutt. Sorry about my delay. I had a problem with my windows computer and I am waiting for a new one from Dell. I will return to the issue as soon as possible.

If someone else wants to work before then, I understand 😓

[2020-10-28 22:32] NPadrutt commented on #1606
@feokuma Sorry to hear that. I hope you're up and running again soon :)
Don't worry about the issue. It will be here for when you're back setup with everything.

[2020-10-31 10:09] #1896 closed

[2020-12-15 14:26] robobunny commented on #1891
Would you mind assigning me to this issue? I'm trying to learn C# and I think I could handle this. It may take a while but as the issue was created a couple months ago I hope that's OK. Thanks!

[2020-12-15 22:57] NPadrutt commented on #1891
@robobunny  done! Let me know if I can help :)

[2020-12-29 23:02] NPadrutt opened #1908 "Progression chart for accounts"
**Describe the solution you'd like**
I want to be able to see the progression of the current balance. Ideally in a graphical line chart.

[2020-12-30 03:18] feokuma commented on #1606
I'm back! 🎉

[2020-12-30 12:46] NPadrutt commented on #1606
@feokuma  welcome back :)

[2020-12-30 15:23] NPadrutt opened #1910 "Value Label does not change text color in dark theme"
**Expected behavior**
The value label color should change as well.

**Screenshots**

![image](https://user-images.githubusercontent.com/1764367/103363384-457b9980-4abb-11eb-95f4-2246ecf69e9a.png)

[2020-12-30 17:46] #1910 closed

[2020-12-30 18:18] NPadrutt commented on #1895
this was fixed with an Xamarin Forms update.

[2020-12-30 18:18] #1895 closed

[2020-12-30 18:21] NPadrutt commented on #1500
This was fixed with a refactoring of the add payment page.

[2020-12-30 18:21] #1500 closed

[2021-01-02 22:26] ErickJeffries commented on #1225
I'm new to Open Source contributions, I'd like to try this one out.

[2021-01-02 23:28] ErickJeffries commented on #1225
@NPadrutt, I added the tooltips using the same resource as the Content of the navigation item.

2 things:

1. Most of them used [Name].Title however one of them used [Name].Label. Should I resolve this in this PR or create an issue for that and a new PR for that change?
2. I would typically see more information in a tooltip that gives additional context. If that's desired, what's the desired patte

[2021-01-02 23:51] NPadrutt commented on #1225
hey @ErickJeffries

happy to assign you.

To your questions:

1. if you can resolve that, that it is coherent, that would be great.
2. I'm not sure what you mean with the desired pattern of resource to change. Could you elaborate or give me an example?

[2021-01-03 16:56] ErickJeffries commented on #1225
@NPadrutt, I followed the translation documentation and gave it a try. Let me know on the PR review if I missed something. Interesting first try at this!

[2021-01-03 17:37] NPadrutt commented on #1225
@ErickJeffries  looks good. The translation part looks good too. As soon as the PR is merged the added strings will be translatable via crowdin.
My only hint would be to not commit changes to the appxmanifest, since otherwise I'll have to reassign the app with the store again. Given that you have to adjust it locally for development makes it a bit hacky. But I haven't found a better way to handle

[2021-01-03 17:41] ErickJeffries commented on #1225
Thanks, yeah found that out the hard way! I've used WPF in the past this was my first time looking at a UWP app so that part had me with a few more commits than expected.

[2021-01-03 17:42] NPadrutt commented on #1225
do you want to merge this PR as is or would you want to add more tooltips elsewhere in the application?

[2021-01-03 22:30] ErickJeffries commented on #1225
I haven't explored the application too far at this point. I'm thinking I'd like some more practice at this. Can we merge this PR and I'll take a look at the app and add an issue for the other areas where tooltips are needed? Just for repetition sake for me.

[2021-01-04 08:21] NPadrutt commented on #1225
sure!

[2021-01-05 15:04] NPadrutt opened #1916 "Payment list in the category summary statistic does not show the category for payments"
**Describe the bug**
The payment list in the category summary statistic does not show the category for payments

[2021-01-05 16:15] #1916 closed

[2021-01-09 17:57] #1908 closed

[2021-01-16 23:52] NPadrutt opened #1928 "Shortcuts on windows do not work"

[2021-01-18 20:51] #1354 closed

[2021-01-18 20:51] NPadrutt commented on #1354
Fixed

[2021-01-19 09:24] #1928 closed

[2021-01-22 22:59] NPadrutt opened #1944 "Add amounts to the category spreading"
**Is your feature request related to a problem? Please describe.**
In the current category spreading chart you can only see the percentages and not the actually amounts of payment spent on a category. Also you have only the top 6 categories.

**Describe the solution you'd like**
Add the amount to the legend.

**Describe alternatives you've considered**
Add a tabular version with all categories.

[2021-01-22 23:01] NPadrutt opened #1945 "Add sorting option for the category summary"
**Is your feature request related to a problem? Please describe.**
Currently you can only list the payments from the highest to the lowest expenditure.

**Describe the solution you'd like**
It would be nice to have other options like from the lowest expenditure to the highest or aphabetically by the category name.

[2021-01-23 12:46] #1944 closed

[2021-01-23 18:14] NPadrutt opened #1949 "Deemphasize future payments"
**Is your feature request related to a problem? Please describe.**
Future payments and already cleared one are not very good to keep apart.

**Describe the solution you'd like**
Deemphasize future payments in the list.

[2021-01-23 18:19] NPadrutt opened #1950 "Warning if end of month balance for account is negative"
**Is your feature request related to a problem? Please describe.**
It's easy to oversee when an account is in the negative at the end of the month.

**Describe the solution you'd like**
Change the color of the account in lists to hightlight the negative balance.

**Describe alternatives you've considered**
- Send a notification when a payment is created that puts the account in the negatives
- Sho

[2021-01-23 18:24] NPadrutt commented on #1890
hey @pghdeveloper
how you coming along with this?

[2021-01-23 20:34] NPadrutt opened #1952 "Crash when you navigate back from payment list to account list via swipe"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to accounts page
2. Select an account
3. use swipe gesture to navigate back
4. see crash

**Expected behavior**
Navigation back to account page.

**Smartphone (please complete the following information):**
 - Device: iPhone 11 Pro
 - OS: iOS
 - Version 14

**Additional

[2021-01-24 00:02] NPadrutt commented on #1891
hey @robobunny
I just stumbled over an github issue mentioning that you can just use content dialog instead of message dialog. I created a PR for that  #1954.
I hope you haven't invested too much time in this already. Also would love to look with you at another issue, that might be better suited for learning c# :)

[2021-01-24 00:38] #1891 closed

[2021-01-24 14:28] #1952 closed

[2021-01-24 14:30] NPadrutt commented on #1596
obsolete meanwhile

[2021-01-24 14:30] #1596 closed

[2021-01-24 14:31] NPadrutt commented on #1560
Closed with #1560.
To Display more information create a new issue.

[2021-01-24 14:31] #1560 closed

[2021-01-24 20:55] #1852 closed

[2021-01-31 01:32] NPadrutt opened #1963 "Fix System.Exception: An async operation was not properly started. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.Src.DialogService.<<ShowLoadingDialogAsync>b__4_0>d.MoveNext() + 0x35;MoneyFox.Uwp.Src.DialogService

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](__C

[2021-01-31 15:03] NPadrutt opened #1965 "Fix Microsoft.Identity.Client.MsalUiRequiredException: AADSTS70000: The user could not be authenticated as the grant is expired. The user must sign in again. Trace ID: 8be6659e-2edd-4f99-ae22-ed2b51506d00 Correlation ID: d67bf5c5-c0a5-4a8a-8bed-107e728b6a4b Timestamp: 2021-01-31 15:01:31Z in <LoginSilentAsync>d__21.MoveNext ()"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

MoneyFox.Application.Common.CloudBackup.OneDriveService.<LoginSilentAsync>d__21.MoveNext() + 0x1cd;MoneyFox.Application.Common.CloudBackup.OneDriveService

MoneyFox.Application.Common.CloudBackup.OneDriveService.<GetBackupDateAsync>d__26.MoveNext() + 0x32b;MoneyFox.Application.Common.CloudBackup.OneDriveService

MoneyFox.Application.Commo

[2021-01-31 15:49] NPadrutt opened #1966 "Fix System.ArgumentException: The parameter is incorrect. The parameter is incorrect. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32)"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](__ComObject, Int32) + 0x24;__Interop

### Reason ###

System.ArgumentException: The parameter is incorrect.

The parameter is incorrect.

### Link to App Center ###

* [https://appcenter.ms/orgs/MoneyFox/apps/Mon

[2021-02-01 08:28] NPadrutt opened #1967 "Fix System.InvalidOperationException: Enumerator failed to MoveNextAsync. in <Handle>d__4.MoveNext ()"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

MoneyFox.Application.Payments.Commands.DeletePaymentById.DeletePaymentByIdCommand.Handler.<Handle>d__4.MoveNext() + 0x748;MoneyFox.Application.Payments.Commands.DeletePaymentById.DeletePaymentByIdCommand.Handler

MediatR.Pipeline.RequestExceptionProcessorBehavior`2.<Handle>d__2.MoveNext() + 0x258;MediatR.Pipeline.RequestExceptionProcessor

[2021-02-01 13:06] NPadrutt opened #1968 "Remember number of selected categories shown in spreading"
**Describe the solution you'd like**
When I change the number of categories shown in the category spreading I want this to be persisted, so that the next time I open it, it shows the same again.

[2021-02-01 15:38] NPadrutt opened #1969 "Fix System.IO.FileLoadException: O arquivo já está sendo usado por outro processo. O arquivo está em uso. Feche-o antes de continuar. in <LoginSilentAsync>d__21.MoveNext ()"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

MoneyFox.Application.Common.CloudBackup.OneDriveService.<LoginSilentAsync>d__21.MoveNext() + 0x1cd;MoneyFox.Application.Common.CloudBackup.OneDriveService

MoneyFox.Application.Common.CloudBackup.OneDriveService.<GetBackupDateAsync>d__26.MoveNext() + 0x32b;MoneyFox.Application.Common.CloudBackup.OneDriveService

MoneyFox.Application.Commo

[2021-02-01 17:53] #1963 closed

[2021-02-01 19:41] #1149 closed

[2021-02-01 20:02] #1965 closed

[2021-02-01 20:13] NPadrutt commented on #1966
Not enough informations.

[2021-02-01 20:13] #1966 closed

[2021-02-01 20:14] #1969 closed

[2021-02-01 20:26] #1967 closed

[2021-02-01 21:56] NPadrutt opened #1974 "Use swipeview in category list"
Add a swipe menu analog to account list to the category list to access edit and delete options.

[2021-02-03 16:33] NPadrutt opened #1975 "Fix System.InvalidOperationException: Enumerator failed to MoveNextAsync. in GetPaymentByIdQuery+Handler.Handle (MoneyFox.Application.Payments.Queries.GetPaymentById.GetPaymentByIdQuery request, System.Threading.CancellationToken cancellationToken)"
### Version 7.3.7470(2021026001) ###

### Stacktrace ###

MoneyFox.Application.Payments.Queries.GetPaymentById.GetPaymentByIdQuery+Handler.Handle (MoneyFox.Application.Payments.Queries.GetPaymentById.GetPaymentByIdQuery request, System.Threading.CancellationToken cancellationToken) [0x0020b] in <eed6e5342edc42bca682523059c30a4b>:0;MoneyFox.Application.Payments.Queries.GetPaymentById

MediatR.Pipel

[2021-02-03 17:21] NPadrutt opened #1976 "Fix Java.IO.IOException: \n not found: size=0 content=... in Crash Group # 3718418361u"
### Version 7.3.7470(2021026001) ###

### Stacktrace ###

### Reason ###

Java.IO.IOException: \n not found: size=0 content=...

### Link to App Center ###

* [https://appcenter.ms/orgs/MoneyFox/apps/MoneyFox-Android/crashes/errors/3718418361u](https://appcenter.ms/orgs/MoneyFox/apps/MoneyFox-Android/crashes/errors/3718418361u)

[2021-02-03 22:15] #1975 closed

[2021-02-04 12:50] NPadrutt opened #1979 "Fix System.IO.FileLoadException: Der Prozess kann nicht auf die Datei zugreifen, da sie von einem anderen Prozess verwendet wird. (Exception from HRESULT: 0x80070020) in <LoginSilentAsync>d__21.MoveNext ()"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

MoneyFox.Application.Common.CloudBackup.OneDriveService.<LoginSilentAsync>d__21.MoveNext() + 0x1cd;MoneyFox.Application.Common.CloudBackup.OneDriveService

MoneyFox.Application.Common.CloudBackup.OneDriveService.<GetBackupDateAsync>d__26.MoveNext() + 0x32b;MoneyFox.Application.Common.CloudBackup.OneDriveService

MoneyFox.Application.Commo

[2021-02-08 02:16] NPadrutt opened #1987 "Fix System.NullReferenceException: Object reference not set to an instance of an object in Crash Group # 1464915488u"
### Version 7.3.7470(2021026001) ###

### Stacktrace ###

### Reason ###

System.NullReferenceException: Object reference not set to an instance of an object

### Link to App Center ###

* [https://appcenter.ms/orgs/MoneyFox/apps/MoneyFox-Android/crashes/errors/1464915488u](https://appcenter.ms/orgs/MoneyFox/apps/MoneyFox-Android/crashes/errors/1464915488u)

[2021-02-08 09:44] NPadrutt opened #1988 "Deactivate Accounts instead of delete them"
**Is your feature request related to a problem? Please describe.**
Currently accounts with payments throw an error when you try to delete them. This is not very intuitive for the user.

**Describe the solution you'd like**
Accounts should just be deactivated instead of deleted. On loads only activated accounts should be loaded.

[2021-02-10 12:29] NPadrutt opened #1989 "Category dialog not opening on mobile"
**Describe the bug**
The Add Category dialog does not open on mobile.

[2021-02-10 12:30] NPadrutt opened #1990 "Search bar on android almost not visible in dark theme"
**Describe the bug**
The search bar in the category list on android is almost not visible.
Better on iOS but not perfect either.

[2021-02-10 16:45] NPadrutt opened #1991 "Fix System.Exception: O texto associado a este código de erro não foi localizado. A conexão com o servidor foi reconfigurada in ExceptionDispatchInfo.Throw ()"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

### Reason ###

System.Exception: O texto associado a este código de erro não foi localizado.

A conexão com o servidor foi reconfigurada

### Link to App Center ###

* [https://appcenter.ms/orgs/MoneyFox/apps/Money-Fox-Windows/crashes/errors/1770523707u](https://appcenter.ms/orgs/MoneyFox/apps/Money-Fox-Windows/crashes/errors/1770523707u

[2021-02-10 20:23] NPadrutt opened #1992 "Fix MoneyFox.Domain.Exceptions.NetworkConnectionException: Exception of type 'MoneyFox.Domain.Exceptions.NetworkConnectionException' was thrown. in <RestoreBackupAsync>d__21.MoveNext ()"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

MoneyFox.Application.Common.CloudBackup.BackupService.<RestoreBackupAsync>d__21.MoveNext() + 0xee;MoneyFox.Application.Common.CloudBackup.BackupService

MoneyFox.Uwp.Services.StartupTasksService.<StartupAsync>d__2.MoveNext() + 0x5c8;MoneyFox.Uwp.Services.StartupTasksService

MoneyFox.Uwp.Services.ActivationService.<ActivateAsync>d__4.Move

[2021-02-10 21:13] #1989 closed

[2021-02-10 21:13] #1992 closed

[2021-02-10 21:16] NPadrutt commented on #1987
[code]

[2021-02-12 13:13] NPadrutt opened #1995 "Fix System.InvalidOperationException: Enumerator failed to MoveNextAsync. in <Handle>d__2.MoveNext ()"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

MoneyFox.Application.Accounts.Queries.GetAccountNameById.GetAccountNameByIdQuery.Handler.<Handle>d__2.MoveNext() + 0x351;MoneyFox.Application.Accounts.Queries.GetAccountNameById.GetAccountNameByIdQuery.Handler

MediatR.Pipeline.RequestExceptionProcessorBehavior`2.<Handle>d__2.MoveNext() + 0x258;MediatR.Pipeline.RequestExceptionProcessorBe

[2021-02-12 14:34] NPadrutt opened #1996 "Fix System.Exception: Ein asynchroner Vorgang wurde nicht ordnungsgemäß gestartet. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.Src.DialogService.<<ShowLoadingDialogAsync>b__4_0>d.MoveNext() + 0x35;MoneyFox.Uwp.Src.DialogService

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](__C

[2021-02-25 02:18] NPadrutt opened #1997 "Fix System.Exception: The text associated with this error code could not be found. The text associated with this error code could not be found. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32)"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](__ComObject, Int32) + 0x24;__Interop

### Reason ###

System.Exception: The text associated with this error code could not be found.

The text associated with this error code could not be found.

### Link to App

[2021-02-28 07:03] NPadrutt opened #1998 "Fix System.Exception: An async operation was not properly started. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7478.70(7.3.7478.70) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.Src.DialogService.<<ShowLoadingDialogAsync>b__4_0>d.MoveNext() + 0x35;MoneyFox.Uwp.Src.DialogService

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](_

[2021-03-03 03:22] NPadrutt opened #2000 "Fix System.Exception: 某个异步操作没有正常启动。 Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7478.0(7.3.7478.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.Src.DialogService.<ShowMessageAsync>d__3.MoveNext() + 0x13d;MoneyFox.Uwp.Src.DialogService

MoneyFox.Ui.Shared.ViewModels.Backup.BackupViewModel.<LoginAsync>d__40.MoveNext() + 0x393;MoneyFox.Ui.Shared.ViewModels.Backup.BackupViewMode

[2021-03-03 07:33] NPadrutt commented on #2000
duplicated #1998

[2021-03-05 06:01] NPadrutt opened #2005 "Fix System.Exception: An async operation was not properly started. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7678.0(7.3.7678.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.ViewModels.Payments.ModifyPaymentViewModel.<>c.<<get_GoToSelectCategoryDialogCommand>b__20_0>d.MoveNext() + 0x66;MoneyFox.Uwp.ViewModels.Payments.ModifyPaymentViewModel.<>c

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandl

[2021-03-06 20:51] NPadrutt opened #2009 "Fix System.Exception: Une opération asynchrone n’a pas démarré correctement. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7678.0(7.3.7678.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.Src.DialogService.<ShowMessageAsync>d__3.MoveNext() + 0x13d;MoneyFox.Uwp.Src.DialogService

MoneyFox.Ui.Shared.ViewModels.Backup.BackupViewModel.<LoginAsync>d__40.MoveNext() + 0x393;MoneyFox.Ui.Shared.ViewModels.Backup.BackupViewMode

[2021-03-08 09:13] #2009 closed

[2021-03-08 09:15] #1991 closed

[2021-03-08 09:16] NPadrutt commented on #1996
Duplicate #1998

[2021-03-08 09:16] #1996 closed

[2021-03-08 09:16] #2000 closed

[2021-03-08 09:16] NPadrutt commented on #2005
#1998

[2021-03-08 09:16] #2005 closed

[2021-03-08 09:26] NPadrutt opened #2010 "Transaction displayed wrongly when change payment type from transfer to expense"
**Describe the bug**
When you change the payment type from transfer to expense the payment is shown on the target account.

[2021-03-08 09:37] NPadrutt opened #2011 "When a recurring payment is changed to non-recurring existing payments are still shown as recurring"

[2021-03-08 10:25] NPadrutt commented on #1997
Not enough information.

[2021-03-08 10:25] #1997 closed

[2021-03-08 12:09] #1995 closed

[2021-03-08 12:48] #1998 closed

[2021-03-10 11:15] NPadrutt opened #2014 "Fix System.NullReferenceException: Object reference not set to an instance of an object. in <LoadDataAsync>d__44.MoveNext ()"
### Version 7.3.7678.0(7.3.7678.0) ###

### Stacktrace ###

MoneyFox.Uwp.ViewModels.Payments.PaymentListViewModel.<LoadDataAsync>d__44.MoveNext() + 0xce;MoneyFox.Uwp.ViewModels.Payments.PaymentListViewModel

MoneyFox.Uwp.ViewModels.Payments.PaymentListViewModel.<<Subscribe>b__14_1>d.MoveNext() + 0x85;MoneyFox.Uwp.ViewModels.Payments.PaymentListViewModel

__Interop.ComCallHelpers.Call(__ComObject,

[2021-03-10 15:31] NPadrutt opened #2015 "Fix System.Exception: O texto associado a este código de erro não foi localizado. O texto associado a este código de erro não foi localizado. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32)"
### Version 7.3.7678.0(7.3.7678.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](__ComObject, Int32) + 0x24;__Interop

### Reason ###

System.Exception: O texto associado a este código de erro não foi localizado.

O texto associado a este código de erro não foi localizado.

### Link to App Ce

[2021-03-15 13:14] NPadrutt opened #2018 "Fix System.Exception: The text associated with this error code could not be found. The text associated with this error code could not be found. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32)"
### Version 7.3.7678.0(7.3.7678.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](__ComObject, Int32) + 0x24;__Interop

### Reason ###

System.Exception: The text associated with this error code could not be found.

The text associated with this error code could not be found.

### Link to App

[2021-03-16 09:37] #2015 closed

[2021-03-16 09:37] #2018 closed

[2021-03-16 13:20] #2014 closed

[2021-03-17 17:43] NPadrutt opened #2022 "Fix System.Exception: An async operation was not properly started. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7789.0(7.3.7789.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.ViewModels.Categories.AbstractCategoryListViewModel.<>c.<<get_EditCategoryCommand>b__27_0>d.MoveNext() + 0x50;MoneyFox.Uwp.ViewModels.Categories.AbstractCategoryListViewModel.<>c

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTyp

[2021-03-17 20:41] #1988 closed

[2021-03-19 11:20] giovannidendekker opened #2025 "IOS App Bug, can’t type a decimal in the app"
Problem:
When i want to change the amount of a payment or the balance of a new account in the iOS app then I can’t type a decimal number because the app wants a “.” for decimal but the keyboard in iOS only shows a “,” so I always get a full number when i add the amount or add a balance to the new account.

Steps to reproduce the behavior:
1. Go to dashboard or accounts
2. Click on the “+”
3. Type

[2021-03-19 17:44] NPadrutt commented on #2025
hey @giovannidendekker

what language and regional settings do you have? Those are bascially what determine what seperator sign it uses.

[2021-03-19 18:04] giovannidendekker commented on #2025
Keyboard and IPhone language is English (US) and the region is Netherlands

[2021-03-20 18:55] NPadrutt opened #2026 "Fix System.Exception: Er is een asynchrone bewerking niet correct gestart. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7799.0(7.3.7799.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.ViewModels.Payments.ModifyPaymentViewModel.<>c.<<get_GoToSelectCategoryDialogCommand>b__20_0>d.MoveNext() + 0x66;MoneyFox.Uwp.ViewModels.Payments.ModifyPaymentViewModel.<>c

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandl

[2021-03-22 10:07] NPadrutt commented on #2025
I did some experimenting. The separator sign on the keyboard is shown based on the Region of your phone. Though we take the culture from the language to convert. I'm seeing if we can get the region for the convertions.

[2021-03-23 17:15] NPadrutt commented on #2025
@giovannidendekker  the change is release in a testflight. In my tests this solves the issue. If you find a moment to have a look at it, to make sure it really is fixed it would be greatly appreciated. Otherwise I hope to release it soon to production.

[2021-03-23 17:38] giovannidendekker commented on #2025
Hey @NPadrutt

Thank you for trying to fix it and yes i would like to test it. I downloaded "Testflight" but i need a link or code i think.

[2021-03-23 17:42] NPadrutt commented on #2025
@giovannidendekker  you can take the Beta Link from the README: https://testflight.apple.com/join/ycYtjupl

[2021-03-23 17:54] giovannidendekker commented on #2025
I tested it and it works now yes :) But when i make a new account and type in the current balance then it won't work so i think it only works now when u add a payment.

[2021-03-23 18:18] NPadrutt commented on #2025
@giovannidendekker ah, right. I think I found that issue as well. You should get a fix with the next testflight update.

[2021-03-23 18:43] giovannidendekker commented on #2025
Awesome, thank you 👍 @NPadrutt

[2021-03-24 08:23] NPadrutt opened #2029 "Edit or Delete on account opens the payment list"
**Describe the bug**
When you click edit or delete on the menu of the account it opens the payment list in addition to the edit or delete action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AccountList
2. Swipe on an entry to open the menu
3. Click edit
4. See that payment list is opened in the edit dialog.

**Expected behavior**
The payment list does not open on these operations.

[2021-03-25 13:39] NPadrutt opened #2030 "Fix System.Exception: Uma operação assíncrona não foi iniciada corretamente. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7799.0(7.3.7799.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.ViewModels.Payments.ModifyPaymentViewModel.<>c.<<get_GoToSelectCategoryDialogCommand>b__20_0>d.MoveNext() + 0x66;MoneyFox.Uwp.ViewModels.Payments.ModifyPaymentViewModel.<>c

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandl

[2021-03-25 21:27] NPadrutt opened #2031 "Fix System.Exception: The text associated with this error code could not be found. The text associated with this error code could not be found. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32)"
### Version 7.3.7799.0(7.3.7799.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](__ComObject, Int32) + 0x24;__Interop

### Reason ###

System.Exception: The text associated with this error code could not be found.

The text associated with this error code could not be found.

### Link to App

[2021-03-26 14:56] NPadrutt opened #2032 "Fix System.Exception: Ein asynchroner Vorgang wurde nicht ordnungsgemäß gestartet. Only a single ContentDialog can be open at any time. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32, Void*)"
### Version 7.3.7799.0(7.3.7799.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Void*) + 0xbe;__Interop

MoneyFox.Uwp.Src.DialogService.<ShowConfirmMessageAsync>d__2.MoveNext() + 0xec;MoneyFox.Uwp.Src.DialogService

MoneyFox.Uwp.ViewModels.Payments.EditPaymentViewModel.<SavePaymentAsync>d__11.MoveNext() + 0x14f;MoneyFox.Uwp.ViewModels.Payments.EditP

[2021-03-27 11:09] NPadrutt opened #2033 "Fix System.Exception: Der Text zu diesem Fehlercode wurde nicht gefunden. Der Text zu diesem Fehlercode wurde nicht gefunden. in ComCallHelpers.Call (__ComObject, RuntimeTypeHandle, Int32)"
### Version 7.3.7799.0(7.3.7799.0) ###

### Stacktrace ###

__Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32) + 0xb8;__Interop

__Interop.ForwardComStubs.Stub_20[TThis](__ComObject, Int32) + 0x24;__Interop

### Reason ###

System.Exception: Der Text zu diesem Fehlercode wurde nicht gefunden.

Der Text zu diesem Fehlercode wurde nicht gefunden.

### Link to App Center ###

* [htt

[2021-03-29 13:13] #2022 closed

[2021-03-29 13:13] #2026 closed

[2021-03-29 13:13] #2030 closed

[2021-03-29 13:13] #2031 closed

[2021-03-29 13:13] #2032 closed

[2021-03-29 13:13] #2033 closed

[2021-04-04 13:35] NPadrutt commented on #2025
@giovannidendekker  the fix for this should be in the store. Could you verify that quickly?

[2021-04-04 13:43] giovannidendekker commented on #2025
@NPadrutt Yes it works there too now 👍

[2021-04-04 16:34] NPadrutt commented on #2025
alright. Then I close this issue.

[2021-04-04 16:34] #2025 closed

[2021-04-08 22:52] NPadrutt opened #2037 "If recurring payment date is in the past, invalid date message appeares"
If you select a date in the past for a recurring payment there is a message that the date is invalid. But the paymentdialog is closed as if the payment is created. But the operation is just canceled.

[2021-04-10 11:35] NPadrutt commented on #2037
No longer reproducable

[2021-04-10 11:35] #2037 closed

[2021-04-29 09:38] NPadrutt opened #2039 "Allow a user to set the date to last day of the month"
**Is your feature request related to a problem? Please describe.**
I have a payment that is always executed on the last day of the month. Currently I would

**Describe the solution you'd like**
Checkbox in the payment for "Last day of the month" which during generating the payment sets it to the last day.

[2021-05-20 22:30] #1853 closed

[2021-06-01 07:51] NPadrutt opened #2044 "Balance of accounts incorrect when you change a payment to or from transfer"
**Describe the bug**
When you have a payment and change the type from expense or income to transfer or from transfer to expense or income the account balance is not correctly adjusted.

[2021-06-01 07:52] NPadrutt opened #2045 "Balance incorrect when the occurence of a recurring payment is changed"
**Describe the bug**
The balance is incorrect when the balance of a recurring payment is changed. So far not clear how this can be reproduced.

[2021-06-26 21:32] #2044 closed

[2021-06-26 21:32] #2045 closed

[2021-06-28 20:23] NPadrutt opened #2055 "Empty menu entry"
Android and iOS have an empty menu item in the fly out. when clicked on it you land in a page with a different header where you can't navigate out anymore.

[2021-06-28 20:36] #1990 closed

[2021-06-28 20:37] #2029 closed

[2021-06-28 20:38] #1974 closed

[2021-06-28 20:44] #2055 closed

[2021-07-31 10:23] shaysw commented on #1968
Hi @NPadrutt, I'm new to your repo and OSS in general, was thinking of trying to tackle this. Is the issue still relevant?

[2021-08-01 19:10] NPadrutt commented on #1968
hey @shaysw
I still think this would be a nice addition, so go for it if you want to try it! :)

[2021-08-24 22:44] sgermosen opened #2064 "Eternal loading after "Name already used" message on creating account"
**Describe the bug**

Eternal loading after "Name already used" message on creating account

**To Reproduce**
Steps to reproduce the behavior:
1. Go Create account
2. Create an account like "test account"
3. Create a new account
4. Use the same name previously used

**Expected behavior**
Need to display the message and wait a clic on ok button or go to list of accounts after the message.

**Screen

[2021-08-25 06:32] NPadrutt commented on #2064
Hi @sgermosen
Thanks for reporting! Seems we have a coordination issue here.

To your additional context: when you delete an account it is currently only marked as deleted but not "physically" removed from the table. Therefore the name is not released with that. The idea being, that you could restore a deleted account.

[2021-10-01 08:02] NPadrutt opened #2068 "Automatically generate transaction to cover credit card costs"
**Is your feature request related to a problem? Please describe.**
I have an account that represents all the payments I made with my credit card. Once a month the bank will create a invoice to cover that bill. This always happens at a certain date. It would be very nice, if that would happen automatically.

[2021-10-12 19:27] renovate[bot] opened #2074 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting end of expression or separator near  }
  "pack`

[2021-10-31 12:36] NPadrutt opened #2092 "Default end date for recurring payments are not practical"
**Describe the bug**
Default for end date of a recurring payment is Date.Min instead

**Expected behavior**
Enddate is DateTime.Today.

[2021-10-31 12:38] NPadrutt opened #2093 "Enddate can't be today"
**Describe the bug**
When the enddate is set to today, the validation fails.

**Expected behavior**
Today is a valid enddate.

[2021-10-31 13:07] #2092 closed

[2021-10-31 13:07] #2093 closed

[2021-11-12 20:31] NPadrutt opened #2111 "Tab in about view has white text on white background in light theme"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1764367/141530759-c9fc1eda-f207-406b-80e9-06e6739dbd2e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Settings page

**Expected behavior**
The font color should adjust to the theme.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informa

[2021-11-24 22:03] NPadrutt commented on #2111
with redesign obsolete

[2021-11-24 22:03] #2111 closed

[2021-11-24 22:19] NPadrutt opened #2140 "iOS header shadow no longer hidden"
**Describe the bug**
See this stackoverflow issue: https://stackoverflow.com/questions/69933838/header-has-border-with-xf-5-0-0-2196-on-ios/69971727?noredirect=1#comment123903923_69971727

[2021-11-24 22:22] NPadrutt opened #2141 "New Filter for Payment Type in Payment List"
There should be a easy way to filter for income, expenses and transfers in the payment list.

[2021-11-24 22:31] NPadrutt opened #2142 "State of autobackup setting is wrong after directly logging in"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Backup
2. Login
3. Restore Data
4. Navigate away and navigate back
5. see that setting is checked

**Expected behavior**
Setting shouldn't be set automatically

[2021-11-24 22:49] NPadrutt opened #2144 "Create new rate reminder"
The current rate reminder is based on a nuget package which uses an outdated content dialog that is not responsive to theme changes and looks outdated. It is also not compatible with WinUI. So this should be replaced by a custom content dialog with the same functionality.

[2021-11-24 22:50] NPadrutt opened #2145 "Replace rating option in settings"
The current way of opening the store to rate the app seems outdated and causes warnings. Therefore it should be replaced according to this documentation:
https://docs.microsoft.com/en-us/windows/uwp/monetize/request-ratings-and-reviews

[2021-11-27 12:00] #2145 closed

[2021-11-30 21:36] NPadrutt opened #2149 "Toast notification for Windows version"
**Is your feature request related to a problem? Please describe.**
The mobile versions are able to show a toast notification on certain events. Currently the windows version does not support that.

**Describe the solution you'd like**
One solution would be to introduce the InApp Notification Control of the community toolkit:
https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/inappn

[2022-01-16 04:09] pree-T commented on #2141
May I work on this ?Can someone help me as I am new to open source contribution?

[2022-01-16 17:01] NPadrutt commented on #2141
sure, would love to see your contribution!
I'm also happy to help you if I can. Just let me know if you are struggling somewhere.

[2022-02-10 00:22] JamesHooper0820 opened #2210 "Crash when clicking links within "About" section of settings"
**Describe the bug**
Clicking on any of the links within the "About" section of Settings results in Money Fox crashing, and the link destination not opening.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the settings cog on the top right of Money Fox.
2. Click on the "About" tab.
3. Click on any of the links within this area, such as "www.github.com".

**Expected behavior**
A new

[2022-02-10 07:25] NPadrutt commented on #2210
Thanks for reporting this @JamesHooper0820
Do you want to have a look at this and submit a PR?

[2022-02-10 11:44] JamesHooper0820 commented on #2210
Would be more than happy to - if possible it'd be useful if you could point me in the rough location you'd believe this to be in since I'm not familiar with the structure of the codebase. Thanks

[2022-02-17 06:05] kg8z commented on #2210
Hi @JamesHooper0820  and @NPadrutt ,

I'm new to open source contribution so please forgive any breaches of etiquette or silly questions...

The issue appears to be related to how the browser process is invoked in BrowserAdapter.cs. While Microsoft documentation suggests you can simply pass a URI into Process.Start, it appears you need to pass a ProcessStartInfo object with UseShellExecute = true

[2022-02-18 04:43] kg8z commented on #2141
@NPadrutt  - Is this what you had in mind for the enhancement? If so, @pree-T  - I'd be happy to work on this with you on this.  I've already done the legwork on updating the Pages and ViewModels. But there's still some work to wire up the functionality and test across devices.

<img width="118" alt="FilterScreenPaymentTypeList" src="https://user-images.githubusercontent.com/81488531/154618846-c88

[2022-02-18 07:22] NPadrutt commented on #2141
@kg8z yeah exactly. Something like that was what I have in mind.

[2022-02-18 07:28] NPadrutt commented on #2210
hey @kg8z
yeah, there was a change when I migrated from UWP to WinUI. Probably I made an error there.
If that is fine with @JamesHooper0820 I would say go ahead and submit a PR, given that you already have a tested solution for this.

[2022-02-19 01:37] kg8z commented on #2010
@NPadrutt  - Are you OK with me taking this one? It looks like the Target Account value isn't cleared when the transaction type is changed to Expense (and presumably Income for that matter). I can take a crack at fixing it.

[2022-02-19 05:52] kg8z commented on #2064
@NPadrutt - I believe there are 2 things at play here:

First - As you mentioned, trying to create a new account with the same name as an existing account is supposed to show an error dialog with the text "An Account with that name already exists." However, the call `await dialog.ShowAsync();` is throwing an exception which causes the app to hang with a spinning wheel and a window stating "Saving

[2022-02-19 11:48] NPadrutt commented on #2010
sure!

[2022-02-19 12:05] NPadrutt commented on #2064
@kg8z thanks for your analysis. On Android and iOS / Xamarin Forms the issue with the dialogs shouldn't be present right? I thought that is only on WinUI / UWP.
But in any case if there are multiple dialogs on windows we should fix that since that definitely will cause an issue. Question then is if we handle the exception from the duplicated name wrong in the viewmodel?

I was actually deliberatin

[2022-02-19 16:55] JamesHooper0820 commented on #2210
Hi @NPadrutt, I've got a fix I'd like to push to master but I'm having some trouble with "permissions denied". Tried googling amongst other things but not sure how to get around this.

[2022-02-19 17:43] NPadrutt commented on #2210
hey @JamesHooper0820
Ah, it sounds like you cloned the repo directly. You would have to fork it instead via the fork button in the top right:
<img width="105" alt="image" src="https://user-images.githubusercontent.com/1764367/154811838-02c9355f-c159-40ad-b7fa-6c82b8b5c5d5.png">

That basically create a connected copy of the repo that belongs to you. When you clone that you can create a branch, mak

[2022-02-19 17:54] JamesHooper0820 commented on #2210
Thank you very much I'll do that now :)

[2022-02-20 19:24] kg8z commented on #2064
@NPadrutt  - Good question. I only tried to reproduce on Windows so not sure about iOS/Android. However, the @sgermosen screenshots look fairly consistent with the behavior I saw in Windows so it seems like the problem at least exists on Android. I've not done any mobile development in Visual Studio yet so not sure if there are built-in emulators that I can use to debug or if I need a device. I'll

[2022-02-20 19:28] #2210 closed

[2022-02-20 19:32] NPadrutt commented on #2064
I like your suggestion!
Instead of using a dialog for the warning you could make a hint under the name textbox and display a message there. I think that would be nice from a UX perspective and soll the dialog problem to a degree as well.

[2022-02-20 19:36] NPadrutt commented on #2064
@kg8z  forgot the mention, and it seems you can't add that afterwards anymore ^^

[2022-02-20 22:52] kg8z commented on #2010
@NPadrutt - I just submitted a PR with the fixes for this bug. Note, I added a new test case that validates the account balances are properly updated when the Payment Type on a transaction is changed from Transfer to either Expense or Income. This is my first PR on GitHub so please let me know if I didn't anything incorrectly.

[2022-02-21 21:14] NPadrutt commented on #2140
This is due to a bug in Xamarin Forms. A respective bug was opened in their Repo: https://github.com/xamarin/Xamarin.Forms/issues/14938

The issue here was fixed with a workaround suggested over there.

[2022-02-21 21:14] #2140 closed

[2022-02-21 21:15] NPadrutt commented on #2010
Fixed :) Thanks @kg8z  for your PR

[2022-02-21 21:15] #2010 closed

[2022-02-25 05:24] kg8z commented on #2064
@NPadrutt  - This got quite a bit more complex when I started digging in. To answer your question about Xamarin forms, the conflict between an open ContentDialog (account and category add/update forms) and error messages doesn't exist but the problem described by @sgermosen is caused by a conflict between the "Loading..." dialog box and an attempt to then open an error dialog. I should be submitti

[2022-02-25 19:53] NPadrutt commented on #2064
Hey @kg8z

Thanks for the update. Quite the work you did here! For me everything you state sounds logical. So I'm looking forwards to review the PR.

Regarding the iOS version: to debug that you actually need a Mac. Sorry, I should have told you that earlier. I hope you didn't spend too much time trying to get that working.
As you already stated the platform independant code shouldn't be a problem

[2022-02-26 02:17] kg8z commented on #971
@NPadrutt - Is this still an issue? I tried several permutations of updating transfers and was unable to reproduce.

[2022-02-26 09:52] NPadrutt commented on #2142
@kg8z Ah very cool :)

[2022-02-26 09:54] NPadrutt commented on #971
It might well be that your fix for the transfers did fix this too. So I'm closing this for now. Otherwise we can reopen.

[2022-02-26 09:54] #971 closed

[2022-02-26 19:37] kg8z commented on #2141
@NPadrutt - Want me to take this one or wait for @pree-T to respond?

[2022-02-27 12:45] NPadrutt commented on #2064
Fixed. Thanks @kg8z

[2022-02-27 12:45] #2064 closed

[2022-02-27 12:50] NPadrutt commented on #2141
@kg8z  I would wait for like another 2-3 days, just in case. Would hate for @pree-T  being in holidays or something like that and because of that missing this.
But maybe you'll find another issue that sounds interessting to you in the meanwhile :)

[2022-02-27 13:34] NPadrutt commented on #2064
@kg8z if you have a Mac you can install vs for mac there. With that you get the mac agent. Then you can connect with your vs on windows to that agent and basically deploy via that and stream the simulator back to your windows machine.

[2022-02-27 20:40] kg8z commented on #2064
@NPadrutt  - Great tip. I'll give that a try. Thanks!

[2022-02-27 21:31] NPadrutt opened #2236 "Use Split View for creating items instead of dialogs"
**Describe the solution you'd like**
Currently Accounts and categories are created via a content dialog. A better way would be to use a split view similar to this example:
![image](https://user-images.githubusercontent.com/1764367/155900688-936a7163-32e9-4836-96db-6fbf13466d4b.png)

[2022-02-27 21:38] NPadrutt opened #2237 "Use a tab menu instead of a flyout menu on mobile"
**Describe the solution you'd like**
We currently do have already a tab menu instead of a side menu on windows. On Android and iOS we have a flyout. Given that the menu structure of the MoneyFox is rather simple, a tab menu would be sufficient. That would make it easier on platforms like android with the gestures to navigate and also would make the usage more consistent between windows and the mob

[2022-02-27 21:42] NPadrutt commented on #2142
@kg8z  thanks for your PR! :)

[2022-02-27 21:42] #2142 closed

[2022-02-28 03:30] kg8z opened #2238 "Standardize and streamline validation logic"
Refactor validation logic across the solution to push validation into the Model classes so it's compartmentalized and allows the ViewModel to make a simple call (e.g. MyClass.Validate()) then take appropriate action based on the result. This approach is used in the Entities so the enhancement would largely be focused on bringing it to the ViewModels. A few options to consider would be the use of I

[2022-02-28 03:35] kg8z commented on #1987
@NPadrutt - Anything I can do to help troubleshoot this? There's a lot going on in UpdatePaymentCommand.Handle and I wasn't able to grab the crash dump from App Center (data expired?).

[2022-02-28 03:38] kg8z commented on #1979
@NPadrutt - Anything I can do to help troubleshoot this? Google Translate seems to think the issue has to do with resource contention on the file. If there's any additional detail you can provide I'd be happy to give it a look.

[2022-02-28 03:39] kg8z commented on #1976
@NPadrutt - Anything I can do to help troubleshoot this? I wasn't able to grab the crash dump from App Center (data expired?).

[2022-02-28 05:33] kg8z commented on #1888
@NPadrutt - I can take this one. It looks like the problem on Android (and likely iOS, though I haven't tested yet) is with the explicit setting of the theme (Current.UserAppTheme = xxx) in App.xaml.cs. When the theme is explicitly set in code the RequestedThemeChanged event is no longer fired when the theme is changed in the O/S. I commented out both the setting of UserAppTheme and registration o

[2022-02-28 06:52] NPadrutt commented on #1987
I think we close this issue. The error didn't occur anymore in the last 30 days and it was from an older version. Also it seems that this happened mainly with one device type:

<img width="1672" alt="image" src="https://user-images.githubusercontent.com/1764367/155937611-d6a5186e-d2c9-4627-9230-f2553fd3612c.png">

[2022-02-28 06:52] #1987 closed

[2022-02-28 06:54] NPadrutt commented on #1976
I think we close this issue. The error didn't occur anymore in the last 30 days and it was from an older version. Also this was with Android 7 and it seems that this happened mainly with one device type:
![image](https://user-images.githubusercontent.com/1764367/155937771-65685d2a-3dc8-4781-a7ea-dac4b545f30e.png)

[2022-02-28 06:54] #1976 closed

[2022-02-28 06:56] NPadrutt commented on #1979
I close this aswell. The issue states that the process couldn't access the file since it was used by another file. Problably meaning that the DB file was locked. But that was with UWP and in the current master we moved to WinUI 3 plus other changes in the last versions. And here aswell was the issue only reported by one device.

[2022-02-28 06:56] #1979 closed

[2022-02-28 06:58] NPadrutt commented on #1888
@kg8z  nice! you are assigned.

The question then might be, if we only offer the automatic switch based on the current theme, which is the same as we have on windows at the moment. Is there actually a situation where you have your Device Theme on Dark for example, but you want your application to use the light theme?

[2022-02-28 07:06] kg8z commented on #1888
@NPadrutt - Good point. I could add a setting that allows the user to choose Light, Dark, or System Default. The first two would force the app into the theme permanently while the last mirrors the O/S. Let me know if you think this would be useful and I’ll add it for all 3 platforms.

[2022-02-28 07:15] NPadrutt commented on #1888
For the moment I would tend to go for the automatic only route. If you get that to work properly on the mobile platforms I think we could remove the other options. Maybe create a separate commit for removing those, then we could revert quickly in case of there is a lot of feedback that setting the theme separatly is wished by users.

[2022-02-28 07:34] kg8z commented on #1888
Sounds good. Thanks.

[2022-03-01 02:43] kg8z commented on #1888
@NPadrutt  - After reviewing the code further I wanted to confirm a few things before moving forward...

The current functionality of the app always uses the O/S theme setting during startup with this code:
            Current.UserAppTheme = Current.RequestedTheme != OSAppTheme.Unspecified
                ? Current.RequestedTheme
                : OSAppTheme.Dark;

Because Current.RequestedTheme i

[2022-03-01 04:08] kg8z commented on #1888
@NPadrutt  - After a bit of tinkering, I'm not sure the option to toggle themes at runtime (Commit #2 above) is going to be viable. At least for Windows, the RequestedTheme property can only be set in the Application constructor. Attempting to call it once the UI is active raises a NotSupportedException exception. There's a hack that involves setting the RequestedTheme on the root XAML window but

[2022-03-01 07:34] NPadrutt commented on #1888
hey @kg8z
yeah the fact, that you only can set the theme on startup on windows was the reason why I removed the option to set the theme directly from the app when I migrated to WinUI, since the solution we used in UWP didn't work anymore. As you already said, the option with setting the theme on the XAML Root is pretty messy and only works halfway.

That was why I figured we go the same route on m

[2022-03-03 02:41] kg8z commented on #1888
Got it. That makes sense. You're correct that no changes are necessary for the desktop version. I'll update the mobile apps to follow the device theme with automatic switch. Thanks for the details.

[2022-03-03 05:25] kg8z commented on #1888
@NPadrutt  - I'm having a tough time getting the iOS project to build using my Mac. I've installed XCode and the necessary components (e.g. Xamarin.iOS) on the Mac and have been able to pair it with VS.Net running on my Windows box. However, when I try to run the project the error "Could not find any available provisioning profiles for iOS" is returned.  The signing identity under iOS Bundle Signi

[2022-03-03 05:32] kg8z commented on #2039
@NPadrutt  - Just to confirm, is the enhancement intended to add a checkbox next to the date for a regular (one-time) payment or add a new option to the Recurrence list for recurring payments (or both)? Either way, I'll grab this one if you want to assign it to me.

[2022-03-03 16:03] NPadrutt commented on #2039
Also, currently the calculation if a payment is up for a new recurrence is bot so nice. So if you have a cool idea to refactor that, feel free to take a look at that as well.

[2022-03-03 16:04] NPadrutt commented on #1888
Aaah, right. I have to add you as developer on the devloper platform of apple I guess so that you can download the developer provisioning profile. Can you give me your appleid?

[2022-03-03 16:56] NPadrutt commented on #2141
Given that we haven't heared anything here from @pree-T  I would open that up again.
@kg8z   if you are still interessted let me know.

[2022-03-03 17:16] kg8z commented on #2141
@NPadrutt - Sure. Send it my way. If @pree-T decides to jump in later we can work together.

[2022-03-04 02:42] kg8z commented on #2039
@NPadrutt - Sounds good. The end of month functionality seems fairly straightforward. I'll give some thought to the recurrence calculation and see if I can find a better approach.

[2022-03-04 03:13] kg8z commented on #1888
@NPadrutt - Phew. I figured I was doing something wrong. The appleid I'll be using for development is pandamaximus@icloud.com.

[2022-03-04 10:14] NPadrutt commented on #2039
@kg8z  yeah it should be rather straight forward.

As a thought I had regarding the calculation of the recurrence. Right now, there is a service that determines whether a recurring payment is up for renewal. But wouldn't it be the responsibility of the recurring payment itself to know when it must be repeated? If so, then mabye the logic of that service should go to the RecurringPayment directly.

[2022-03-04 12:14] NPadrutt commented on #1888
fixed with PR #2239

[2022-03-04 12:14] #1888 closed

[2022-03-05 02:21] kg8z commented on #2039
@NPadrutt - Embedding the logic to create a transaction and increment the recurrence date into the RecurringPayment class itself makes a lot of sense. We'd still need something to trigger the logic within each recurring payment instance (startup check or perhaps a timer) but that could be a simple scheduler. I do like the idea of compartmentalizing the logic within the Model, though. I'll try some

[2022-03-05 09:20] NPadrutt commented on #2039
Currently that is triggered on startup, which I think is fine. On windows I used to use Background jobs. But that was quite a lot of work for basically not too much value generated. Especially since those used to run in a separate process. So you would have to synchronise those back to the main thread ^^

[2022-03-07 02:35] kg8z commented on #2039
That makes sense. What about the mobile apps? I'm new to mobile development so forgive the newbie question. It seems like mobile apps run in the background pretty much perpetually. Does "startup" on a mobile app fire each time it's made active or only when it's run when not already in the background?

[2022-03-07 11:11] NPadrutt commented on #1888
@kg8z  no no. it's just a bit complicated with Apple. Especially when it is about working in an Open Source manner on a project.
You should have got an invitation from apple developer.

[2022-03-08 03:43] kg8z commented on #1888
@NPadrutt  - Awesome. I received the invitation for the Apple Developer Program. Will get that going so I can start testing my changes on iOS. No more excuses! :-) Thanks!

[2022-03-08 06:58] NPadrutt commented on #2039
ah, exactly. On mobile it's on launch or being reactivated. So when you switch to another app and back the startup tasks are executed.

[2022-03-08 06:59] NPadrutt commented on #1888
@kg8z let me know if it works. Otherwise I might have to tweak some settings still.

[2022-03-10 03:29] kg8z commented on #1888
@NPadrutt  - I certainly got further along. It's giving this error when I switched to Automatic Provisioning to force it to link to my Apple Developer account:
<img width="579" alt="AppleError" src="https://user-images.githubusercontent.com/81488531/157582833-12800a0d-2b7b-4e75-9a74-41784ade92a6.png">
:

[2022-03-11 07:32] NPadrutt commented on #2141
fixed with #2243

[2022-03-11 07:32] #2141 closed

[2022-03-12 11:20] NPadrutt commented on #1888
@kg8z  alright. next try. can you try again?

[2022-03-12 21:06] kg8z commented on #1888
Unfortunately, it's still returning the same error:
<img width="786" alt="image" src="https://user-images.githubusercontent.com/81488531/158035004-c1de0c6d-ee62-4278-89ce-9cd043f2988e.png">

[2022-03-14 15:37] NPadrutt commented on #1888
@kg8z  mmh.. that is interessting. Can it be that visual studio is trying to create a new profile instead of using the existing development one?
I'll see if I can find anything more on this. But it seems that it is quite difficult to set that up in a way that it's easy to share those for open source projects, aka don't make the certificate used to create those public.

[2022-03-15 02:24] kg8z commented on #1888
@NPadrutt  - I don't know if this makes a difference, but the Provisioning Profile defaults to "Unknown (MoneyFox Development 2020)" when I pull the project file from GitHub:
<img width="774" alt="ProjectBundleSigningDefault" src="https://user-images.githubusercontent.com/81488531/158292756-14f46e2f-e9b5-49b3-bd39-69c2a172b55c.png">

But when I click the Manage Accounts option it shows the MoneyFo

[2022-03-15 12:33] NPadrutt commented on #1888
I created a new development certificate. Maybe that works. Otherwise we can see if I can send you the provisioning profile and certificate for development so you can install it manually. That might actually be the "cleanest" solution.

[2022-03-19 00:01] kg8z commented on #1888
Great. I'm going to be away for the next week or two but will see if the new dev certificate works when I get back. Thanks.

[2022-03-19 12:11] NPadrutt commented on #1888
@kg8z  alright. enjoy your time :)

[2022-03-21 20:52] NPadrutt opened #2255 "caption buttons do not work"
**Describe the bug**
The caption buttons (max, min and close) do not work anymore

**Expected behavior**
The caption buttons work as used from windows.

**Desktop (please complete the following information):**
 - OS: Windows

[2022-03-30 17:25] NPadrutt commented on #2255
This seems to be a bug with WinUI. I opened a issue there: https://github.com/microsoft/microsoft-ui-xaml/issues/6895

[2022-03-31 02:20] kg8z commented on #1888
Hi @NPadrutt  - The new "MoneyFox Development 2022" certificate did  the trick. I was able to download it and successfully compile/test the iOS app. Now I don't have an excuse to omit iOS testing from my PR's. ;-)

[2022-04-02 22:03] kg8z commented on #2039
@NPadrutt  - Is there a reason that the recurrence calculations for Quarterly and Biannually use days (93 and 184 respectively) rather than months? It seems like a more precise approach would be to use months (3 and 6 respectively). For example, to check Quarterly, something like this:
DateTime.Today.AddMonths(-3) >= lastRecurrenceCreated.Date

instead of

DateTime.Now - lastRecurrenceCreated.Date

[2022-04-03 12:04] NPadrutt commented on #2039
@kg8z  good question. To be honest, I'm not sure if that was since there was no method for weeks so I used days for everything. But I would say definitely change that to months :)

[2022-04-04 00:23] kg8z opened #2262 "Modification Date and Creation Date columns empty in Payment List"
**Describe the bug**
The columns for Modification Date and Creation Date are both blank in the payment list for accounts.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on any account that contains at least one payment
2. Note the empty cells for Modification Date and Creation Date in the list

**Expected behavior**
The Modification Date and Creation Date cells should contain the last

[2022-04-04 00:26] kg8z commented on #2262
@NPadrutt  - I already have a fix for this in the codebase I'm working on for issue #2039. Feel free to assign this one to me. I can either include the fix with the PR for that issue (which will likely take some time because of the complexity of the enhancement), or I can submit a separate PR to fix this issue ASAP. Let me know which you prefer.

[2022-04-04 01:30] kg8z commented on #2039
@NPadrutt  - The current logic to trigger payment creation for recurring payments will miss transactions if the application hasn't been run within 2 cycles of the recurrence period (e.g. weekly, last run >14 days ago). Consider the following scenario...

There is a recurring payment created for a weekly Friday paycheck where the last recurrence creation date was March 18, 2022.  Today is April 3,

[2022-04-04 09:43] hokkasenola opened #2263 "Windows broken"
Android version was updated yesterday. Now it made something and windows is not working anymore. (using android 11 & win 11)

![image](https://user-images.githubusercontent.com/102957350/161518133-53107791-50bb-4a2b-80e8-c2a523febfe0.png)

[2022-04-04 13:27] NPadrutt commented on #2263
hey @hokkasenola
Thanks for the report. It seems the appropriate windows version was not correctly published.
I update this issue when the publish was successful.

In the future we have to deploy removal of db fields better.

[2022-04-04 15:35] NPadrutt commented on #2262
thanks for reporting and fixing @kg8z
if submitting a pr for this issue separately only takes little time I would say go for it. Then we can potentially fix this soon already. if it would take a lot of time then

[2022-04-04 15:41] NPadrutt commented on #2039
yeah that is a good point. I think originally that was designed with UWP background tasks and those where configured to run every like 8 hours so that scenario could not happen. But with android and especially iOS that doesn't work. So yeah I agree with you, that the app should generate all recurrences. But I would move that to a separate issue, since from what I understand, this issue here is not

[2022-04-05 03:31] kg8z commented on #2039
@NPadrutt - Apologies in advance for this very long comment to explain the situation more clearly...

Sorry, I went too broad in my explanation of the behavior and didn't tie it back to this specific enhancement. I discovered the aforementioned behavior as I was modifying the logic that triggers new recurring payment transactions. The way in which the payment date is calculated for the new payment

[2022-04-05 11:22] NPadrutt commented on #2263
hey @hokkasenola
as an update: the submission is in certification since yesterday, but for some reason it seems that it takes longer. I'll keep you updated on this when I hear something.

[2022-04-05 19:42] NPadrutt commented on #2039
Hey @kg8z

You make a good point and I agree with the fundamental issues and your approach makes sense to me.

I don't quite understand this calculation:
[code]
Can you elaborate on that a bit?

You are right that it is inconsistent with how recurrences are triggered when you compare weekly to monthly. The monthly recurrence is with the one of monthly payments in mind. So, if you have for example

[2022-04-06 04:06] kg8z commented on #2039
@NPadrutt  - Thanks for the feedback and explaining the reason for the future dating. This makes sense. I'll proceed with altering the logic so weekly transactions continue to use the current date and monthly/bimonthly/quarterly/etc. will be tied to a day of month. This also helps me move forward with the new "last day of month" functionality.

The calculation I mentioned was intended to describe

[2022-04-06 06:33] NPadrutt commented on #2263
Due to the current rather glacial pace of the Microsoft Store i submitted a new updated to Android and iOS that should fix the compatibility issues from that side.
@hokkasenola Once you updated your mobile app and launched it, so that it uploaded a new backup the windows version  should work again as well. In case the error still persist you could try to manually download the backup via the backup

[2022-04-06 08:11] hokkasenola commented on #2263
Yes! Now it is working as expected. Lightning fast action. There is many many companies that should take a look and learn. (for example every phone manufacturer)

[2022-04-06 08:11] #2263 closed

[2022-04-07 19:01] #2262 closed

[2022-04-07 19:01] #2237 closed

[2022-04-09 15:50] NPadrutt commented on #2039
@kg8z
I did a rather big change with a lot of formatting changes to have that nicer and consistent. I think it would make sense you pull the changes sooner rather than late to have not too many merge conflicts. Sorry for any inconveniences!

[2022-04-11 03:14] kg8z commented on #2039
@NPadrutt  - Thanks for the heads-up. I'll pull them into my fork/branch. Cheers.

[2022-04-13 02:15] kg8z commented on #2039
@NPadrutt - Thanks again for letting me know about the formatting changes. They've all been merged into my branch. I'm glad you mentioned it now so I could address the conflicts before they got too big. :-)

[2022-04-13 08:07] NPadrutt commented on #2039
@kg8z  nice, glad to hear! I hoped that I don't mess too much with what changes you already made. :)

[2022-04-14 23:48] kg8z commented on #2039
Not at all. I like the new pattern of including the parameter names in method calls. Much clearer.

[2022-04-16 04:08] kg8z commented on #2039
@NPadrutt  - I just noticed that the MoneyFox.SharedKernel project shows as "(not found)" when I open the MoneyFox.WinUI Solution. Assuming this was part of the recent clean-up effort you performed and the Solution just needs to have the project removed. Everything compiles and runs so it's not a problem, just letting you know.
<img width="264" alt="image" src="https://user-images.githubuserconten

[2022-04-16 10:55] NPadrutt commented on #2039
@kg8z thanks for letting me know. You are right, that was from there. It seems I have missed that solution. I'll submit a change for that.

[2022-04-18 00:41] kg8z commented on #2039
@NPadrutt - Did you change the default encoding in your VS.Net environment to UTF-8? I started getting warnings about encoding mismatches (mine being Western/Windows; latest from Github being UTF-8) after I pulled the latest changes. I tried to prevent code diffs due to encoding differences when I pushed my changes. Hopefully, it worked. Let me know if I should change my environment config. I'm on

[2022-04-19 06:34] NPadrutt commented on #2039
@kg8z yeah I did set that in the editconfig to have that basically centralized at one place. I'll keep an eye out if that causes issues.

[2022-04-21 00:57] kg8z opened #2285 "Maintain integrity of recurring payment schedule if the application isn't run regularly"
**Is your feature request related to a problem? Please describe.**
The current logic to trigger payment creation for recurring payments will miss transactions if the application hasn't been run within 2 cycles of the recurrence period (e.g. weekly, last run >14 days ago). Consider the following scenario...

There is a recurring payment created for a weekly Friday paycheck where the last recurrence

[2022-04-21 01:45] kg8z commented on #1950
@NPadrutt - Did you have something like this in mind? We could do this everywhere a balance is displayed that's a negative number.  I can grab this one.
<img width="544" alt="image" src="https://user-images.githubusercontent.com/81488531/164355002-e261cf7b-94e5-4a10-afdf-da7a5b6059ec.png">

[2022-04-21 06:37] NPadrutt commented on #1950
@kg8z exactly, something along this lines I had in mind :)

[2022-04-22 23:20] NPadrutt opened #2288 "Migrate to .net MAUI"
With Xamarin Forms being replaced by .net MAUI we should migrate to that to ensure a good path forward.

[2022-04-22 23:21] NPadrutt opened #2289 "Support for Mac OS via .net MAUI"
**Describe the solution you'd like**
With .net MAUI supporting MacOS via Catalyst it would be nice to add support for MacOS as well.

[2022-04-22 23:25] NPadrutt opened #2290 "Merge Mobile and Windows UI code"
**Describe the solution you'd like**
Currently there is a UI project for Windows and one for Mobile since Xamarin Forms never really supported desktop. Since .net MAUI comes with full support for Desktop we should evaluate to merge and therefore simplify the code base.

**Describe alternatives you've considered**
In case the effort to have a nice Desktop UI would be very high or the result just no

[2022-04-24 19:17] NPadrutt commented on #2039
@kg8z  I think we can close this, right?

[2022-04-24 19:18] NPadrutt commented on #1950
@kg8z  just a quick warning: I'm still trying to improve the structure of the project and moved some classes around in the MoneyFox.Core project. In case you make adjustments on one of the queries there it might be good if you merge first to avoid a merge conflict.

[2022-04-25 01:24] kg8z commented on #2039
@NPadrutt - Yep. This one’s done. Thanks.

[2022-04-25 01:25] kg8z commented on #1950
@NPadrutt - Thanks for the heads-up. I’ll merge the changes ASAP.

[2022-04-25 07:36] #2039 closed

[2022-04-28 00:07] kg8z commented on #2290
@NPadrutt  - I'd love to collaborate with you on this once MAUI is released.

[2022-04-28 00:45] kg8z commented on #2011
@NPadrutt  - I can take this one. It looks like an exception is currently being thrown when a payment is changed from recurring to non-recurring. This exception is preventing the update operation from completing.

[2022-04-28 23:20] NPadrutt commented on #2290
@kg8z  would love to! I'm currently trying to migrate the current mobile solution to MAUI. After that we can see what kind of optimization for desktop are needed to replace the dedicated windows version.
That being said, I'm on holidays in the US for the next two weeks. So I might not have not too much time till I'm back.

[2022-04-28 23:21] NPadrutt commented on #2011
nice! :)

[2022-04-29 10:57] neilmartindev commented on #1945
@NPadrutt Happy to try and give this a shot.

[2022-04-29 11:10] NPadrutt commented on #1945
Nice! I assigned it to you.

[2022-04-29 11:48] NPadrutt opened #2301 "Add option for default account"
**Describe the solution you'd like**
Add an option on the account to select an account as a default account. That account should be selected when creating a payment from the start page.

[2022-04-29 11:51] NPadrutt opened #2302 "When on the payment list select that account as default for new payments"
**Describe the solution you'd like**
When the payment list of an account is open and the user opens the create payment page, the currently selected account should be selected.

[2022-05-07 20:53] kg8z commented on #2302
@NPadrutt  - I can take this one.

[2022-05-15 18:57] kg8z commented on #1949
@NPadrutt - I can take this one.

[2022-05-15 19:10] NPadrutt commented on #1949
Great :)

[2022-05-15 19:16] kg8z commented on #2011
@NPadrutt  - This can be closed, right?

[2022-05-15 19:16] kg8z commented on #1950
@NPadrutt - This can be closed, right?

[2022-05-15 19:25] NPadrutt commented on #1950
Correct!

[2022-05-15 19:25] #1950 closed

[2022-05-19 13:07] NPadrutt opened #2316 "App Crashes when automatic backup is enabled"

[2022-05-19 13:12] NPadrutt opened #2317 "Open log file from app"
**Is your feature request related to a problem? Please describe.**
Currently the only option to see the log file is to send it via an email.

**Describe the solution you'd like**
Option to open the log file via a button in the about page

[2022-05-19 22:18] #2317 closed

[2022-05-19 23:49] #2316 closed

[2022-05-22 16:52] NPadrutt opened #2328 "Loading Dialog gets stuck when creating new category"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to category list
2. Click on "AddCategory"
3. Add name an click on save
4. See error

[2022-05-24 06:48] #2328 closed

[2022-05-24 11:13] NPadrutt commented on #2288
Basic migration of Android and iOS is done, although currently with several UI issues still open to fix.
Also iOS is blocked at the moment due to the Microsoft.Identity Package not yet supporting MAUI. An update is already in the works there.

[2022-05-29 14:12] NPadrutt opened #2338 "List of recurring payments"
**Describe the solution you'd like**
Recurring payments should be available in a central place for an account, so that I easily can see my recurring costs and update those easily.

[2022-05-29 14:14] NPadrutt opened #2339 "Execution date of recurring payments is not updated"
**Describe the bug**
When I move a payment that has a recurring payment attached to another date, the next recursion is executed on the old date again, since that is determined from the start date. Since that is not updated, there is no way to move the recurrnece to a different day.

Possible solution is the introduction of a new field for the recurrence. E.g. for a monthly recurrence that might b

[2022-06-25 11:12] #356 closed

[2022-07-01 08:00] NPadrutt opened #2379 "Recurring Payment does not update charged account when moved"
When I move a payment that has a recurring payment attached to another charged account, the next recursion is executed on the old account again. Since that is not updated, there is no way to move the recurrence to a different account other than recreating it.

[2022-07-01 08:06] NPadrutt opened #2380 "Option to show payments for a budget from the payment view"
**Is your feature request related to a problem? Please describe.**
If I'm on the budget list I'd like to have an easy way to see all payments that are counted under a certain budget, so that I can get an idea quickly what spendings I made.

[2022-07-01 08:09] NPadrutt opened #2381 "Add option to budget for the time range in which payments are included to the spending"
**Is your feature request related to a problem? Please describe.**
Currently payments from the last 3 years are included for the spending against a specific budget. This time range should be configurable.

[2022-07-29 17:49] NPadrutt commented on #1340
I think it's fair to assume that this is not or not longer in progress ^^

[2022-07-29 17:50] NPadrutt commented on #1225
I close this for now. We'll see how this will be with MAUI.

[2022-07-29 17:50] #1225 closed

[2022-08-04 19:16] #1246 closed

[2022-08-12 16:21] #2074 closed

[2022-08-12 16:41] NPadrutt opened #2407 "Monthly Cashflow for all accounts combined"
**Describe the solution you'd like**
Currently the monthly cashflow statistics only shows you data for one account at a time. It would be great if you could show the cashflow for all accounts combined, so you can see how your total spending changed over the months.

[2022-08-25 08:50] hardyks opened #2417 "Password protection"
In my perrsonal mind the app should have a password protection because the app can contain a lot of personal data

[2022-08-26 16:14] NPadrutt commented on #2417
hey @hardyks
I like that idea! feel free to submit a PR for it :)

[2022-08-27 08:43] hardyks commented on #2417
Thanks @NPadrutt for your reply. Where can I submit a PR, please?

[2022-08-28 13:57] NPadrutt commented on #2417
Apoligies @hardyks. I meant that in case you want to contribute and implement this feature.

[2022-09-01 19:24] #2302 closed

[2022-09-05 18:53] NPadrutt commented on #2290
hey @kg8z
I opened a PR that moves windows to MAUI in a first step to merge the mobile and desktop version. In case you want to join in on a better desktop experience (with maybe improve the mobile one as well) feel free to commit changes to the PR! :)

[2022-09-07 18:51] kres0345 opened #2431 "Danish translation needs approval"
Danish translation is finished on crowdin by @danielweper and I.

When can we expect it to be included in a release?

[2022-09-08 12:35] kres0345 commented on #2431
That sounds good :)

[2022-09-08 12:35] #2431 closed

[2022-09-14 02:50] kg8z commented on #2290
@NPadrutt  - Thanks for letting me know! I'm still easing back into my evening dev work so it may take me time to ramp up. But I definitely want to help with the MAUI transition.

[2022-09-15 08:10] NPadrutt opened #2440 "Buttons in title bar not visible on iOS"
**Describe the bug**
Buttons in title bar not visible on iOS 16

**Expected behavior**
The buttons should render correctly

**Smartphone (please complete the following information):**
 - OS: iOS 16

[2022-09-15 08:11] NPadrutt commented on #2440
This is a known issue of Xamarin Forms on iOS 16 https://github.com/xamarin/Xamarin.Forms/issues/15512

[2022-09-24 12:32] NPadrutt commented on #2440
A workaround was deployed.

[2022-09-24 12:32] #2440 closed

[2022-09-24 12:32] NPadrutt opened #2448 "use the new unified project structure of .net maui"

[2022-09-24 21:52] #2288 closed

[2022-10-03 06:36] NPadrutt commented on #2448
This is merged.

[2022-10-03 06:36] #2448 closed

[2022-10-12 13:26] kres0345 opened #2510 "[Help] Removing a recurring payment, after removing the account that is tied to it"
I removed all accounts, without removing recurring payments first. Now it says 30.000 ultimo, while I have no income.
[backupmoneyfox3_2022-10-12_12-59-57.zip](https://github.com/MoneyFox/MoneyFox/files/9765237/backupmoneyfox3_2022-10-12_12-59-57.zip)

[2022-10-12 13:54] NPadrutt commented on #2510
Hey @kres0345
Thanks for pointing this out. We would have to end the recurring payments, aka set the end date.
To fix this in your case, you could set the date via a tool like "Db Browser for SQLite" and put the file back into your OneDrive folder and restore it via the backup.
Also, if feel free to submit a PR with a fix for this if you want.

[2022-10-18 06:42] kres0345 commented on #2510
I was looking in the database file, and I discovered that deleted accounts are also still present. Do you think those are safe to delete as well?

[2022-10-18 06:48] kres0345 commented on #2510
I'm sorry, but this is frustrating. Changing the database didn't change anything, still shows 30k end of month

[2022-10-18 06:51] kres0345 commented on #2417
To what degree should the password cover? Should it be used as encryption key as well, or just to access the app. It would leave OneDrive vulnerable to people who know the app.

[2022-10-18 07:00] NPadrutt commented on #2510
Accounts are currently designed to just be disabled and then filtered out. If you remove them, you will have to remove payments and Recurring Payments as well. So personally, I would leave them.

[2022-10-18 07:06] NPadrutt commented on #2510
Recurring Payments are created periodically and are included in the end of month calculation. Did you also delete the already generated payments for this month?

[2022-10-18 07:53] kres0345 commented on #2510
I removed them all and it seems to be working again. How come you're just disabling them? In case of accidental deletion?

[2022-10-18 07:54] kres0345 commented on #2510
I suppose we just need to disable recurring payments together with disabled accounts to fix this issue, or are they already disabled?

[2022-10-18 09:16] hardyks commented on #2417
Thank you for investing your thoughts in my idea.
I think password protection for access in both apps (mobile and windows) is enough. Access to the backups of the data in the OneDrive cloud is also and already password-protected or "even equipped with 2-phase password protection", so it should be difficult to restore the backup on another cell phone.
I think it would be important to set up passwor

[2022-10-18 11:57] hardyks commented on #2417
another idea: password protection already combined with the windows account

[2022-10-18 18:11] NPadrutt commented on #2510
For one in case of accidental deletion. And the other thought was, that the payments there could still be relevant / interessting for statistics. Thinking about this again, I would probably design it differently. Might be a good idea to change that.

[2022-10-19 16:56] kres0345 opened #2530 "[Minor] Connect to OneDrive directly on first-setup screen when installing app"
Would be nice to have a login option for returning users, when first installing the app.

[2022-10-19 17:21] NPadrutt commented on #2530
Hey @kres0345
I like that idea.
Feel free to give this a go and submit a pull request! :)

[2022-10-20 18:39] kres0345 commented on #2530
I haven't ever worked with Xamarin before. I've added a button to the front page of the welcome page, but whenever I try to replicate the existing code for navigating pages (I planned on navigating to the backup page, I think that's the easiest solution), the application closes on my phone without any exceptions triggering. This is quite frustrating. Logcat doesn't provide anything useful.

[2022-10-20 22:36] NPadrutt commented on #2530
Do you have a branch with your changes so that I can have a look at your code? Maybe I see something.

[2022-10-21 15:09] kres0345 commented on #2530
Alright, I've been looking at it, but my version of the repository was apparently way too outdated, so I'll have to rewrite the code 😄 (no worries). I'll update my fork when the code is ready (or still troubling me), I'll make another comment here as well

[2022-10-21 15:20] kres0345 commented on #2530
Wow, the new look is great!

[2022-10-21 20:26] NPadrutt commented on #2530
I was thinking why not just implement the login in the new page aswell? From a user experience perspective I think that would be way nicer than navigate away to a totally different page. from where you can't really nicely navigate back in a consistant manner.

[2022-10-23 17:26] kres0345 commented on #2530
That sounds like a good idea :D Though I don't think I'll be able to pull it off. I will look into other up-for-grab issues, no worries :)

[2022-10-23 17:32] kres0345 opened #2546 "The ability to change account properties after creation"
**Is your feature request related to a problem? Please describe.**
Right now, as far as I know, on mobile I can't edit account information, for example, change the name or whether it is to be excluded from the balance.

**Describe the solution you'd like**
I think it's intuitive for the user to be able to long-press an account in the account overview, to open up the account creation modal.

**Desc

[2022-10-23 18:04] NPadrutt commented on #2530
You should be able to get inspiration from the backup page / backupviewmodel itself I would assume. In case you want to try it.

[2022-10-23 18:46] NPadrutt commented on #2546
There is such a functionality, but there are some issues with it. It uses a SwipeView in the Accountlist (you get there from the dashboard -> All Accounts. But with the migration to .net maui it seems that the swipe view control on Android has an issue and does not work. There seems to be a fix coming soon..
The other issue is, that when you click on edit it will make a second navigation to the pa

[2022-10-23 19:43] NPadrutt commented on #2546
I actually had a quick look and was able to fix most of the issue. PR is open: #2547
On iOS that is. For Android I think we have to wait till Microsoft rolls out their fix.

but the long press feature could still be interesting for the dashboard page in case you want to have a look

[2022-10-24 10:47] #2381 closed

[2022-10-24 10:49] NPadrutt opened #2550 "Add and edit budget pages are too long"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the budgetlist
2. Click on 'Add Budget' or tap en existing entry
4. See error

**Expected behavior**
The page only uses the space it actually needs.

[2022-10-24 10:50] NPadrutt opened #2551 "App crashes on Android when trying to open URL from About page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to About
2. Click on 'Website'
3. See error

**Expected behavior**
Website opens without crashing

**Smartphone (please complete the following information):**
 - OS: Android
 - Version [e.g. 22]

**Additional context**
Add any other context about the problem here.

[2022-10-24 10:51] NPadrutt opened #2552 "App Crashes when trying to send an email via the about page"
**Describe the bug**
App Crashes when trying to send an email via the about page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'About'
2. Click on 'Email'
3. See App crash

**Expected behavior**
Emailprogramm with new email opens

**Additional context**
Add any other context about the problem here.

[2022-10-24 15:25] NPadrutt opened #2555 "Show validation errors during budget creation directly in UI"
**Is your feature request related to a problem? Please describe.**
Currently validation errors are only shown when clicking on save. Ideally those should  be visible during editing the data.

[2022-10-24 18:03] #2550 closed

[2022-10-24 18:30] #2551 closed

[2022-10-24 19:30] #2552 closed

[2022-10-26 05:36] #2255 closed

[2022-10-26 05:59] NPadrutt opened #2562 "Filter for category spreading to select number of categories included"
**Is your feature request related to a problem? Please describe.**
On mobile only 6 categories are included into the category spreading graph. The rest falls under "others". This should be configurable via a filter setting.

[2022-11-08 12:07] kres0345 commented on #2417
Do you have any suggestions for what would happen if you wrote the wrong passcode multiple times? Should there be a fixed delay? Maybe a fixed delay after every wrong passcode. Alternatively, no delay at all and an infinite number of tries (which allows for brute-forcing (I don't see brute-forcing as a big issue though)). Also, how many digits? I believe 4 is enough.

Regarding the windows build,

[2022-11-08 12:12] renovate[bot] opened #2584 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency Microsoft.EntityFrameworkCore.InMemory to v7](../pull/2577)
 - [ ] [Update dependency Microsoft.

[2022-11-08 12:44] NPadrutt commented on #2417
I think encrypting the database backup would make a lot of sense. @kres0345  feel free to create a new issue for that since I think that something separate. (also feel free to work on that ;) )

@hardyks  A thought that crossed my mind was regarding this part.

Why wouldn't you just setup separate windows user accounts with a password there? Then all the data is separated and protected. Or is that

[2022-11-08 13:40] hardyks commented on #2417
I'm pleasantly surprised that a small thought triggered a whole thought tsunami.

I think that an access PIN is quite sufficient. Access to the data backup is already based on the WIN account access data. I think that's sufficient, especially since most of them have probably already set up the 2-phase account security. With an access PIN I only wanted to make opening the app more difficult.

I mov

[2022-11-08 20:06] kres0345 opened #2586 "Encrypted databases to make passcode logon more secure"
**Is your feature request related to a problem? Please describe.**
Right now, when password protection has been implemented (#2417), it's mostly security through obscurity, as the password only disables access to the app, but not the actual database.

**Describe the solution you'd like**
Implement encryption of the database using user passcode as encryption key.

**Additional context**
I would pre

[2022-11-08 20:53] NPadrutt commented on #2586
I think this should be independent of a user login or the pin used there. AFAIK there are ways to encrypt it always, even when there was no password or pin added. But we would have to research that.

[2022-11-09 14:26] kres0345 commented on #359
@NPadrutt do you know whether the OneDrive implementation is already decoupled for allowing easy implementation of other solutions? If not I might look into it

[2022-11-09 22:00] NPadrutt commented on #359
@kres0345  it should be failry decoupled. The biggest hurdle with a new cloud service probably would be the authentication. Currently it uses  MS authentication library for the OAuth of OneDrive / MS Graph. As far as I know that doesn't work for other platforms so there would have to be an implementation of OAuth - ideally one that works for multiple platforms so we could streamline that.

[2022-11-13 20:15] kres0345 opened #2595 "Crash on startup"
**Describe the bug**
Fresh install of the app results in crash on startup.

**To Reproduce**
Steps to reproduce the behavior:
1. Install
2. Run

**Screenshots**
Call stack as per crash log
![Screenshot_20221113-210208.jpg](https://user-images.githubusercontent.com/17174333/201542192-d6e2b34d-8fa2-4c55-8425-c2046ce1e40e.jpg)

**Smartphone (please complete the following information):**
 - Device: On

[2022-11-14 02:47] kg8z opened #2596 "SwipeView control throws a System.AccessViolationException in Windows."
**Describe the bug**
The SwipeView control was added to the following views to allow Edit/Delete operations to be performed with a right-swipe on touch enabled devices:

- Src/MoneyFox.Ui/Views/Accounts/AccountListPage.xaml
- Src/MoneyFox.Ui/Views/Categories/CategoryListPage.xaml
- Src/MoneyFox.Ui/Views/Categories/SelectedCategoryPage.xaml
- Src/MoneyFox.Ui/Views/Popups/CategorySelectionPopup.xaml

[2022-11-14 02:47] kg8z commented on #2596
@NPadrutt - If you agree with my suggested solution (remove SwipeView control), I already have changes ready to fix this bug.

[2022-11-14 03:01] kg8z opened #2597 "Expense/Income Values Not Formatted Properly"
**Describe the bug**
The Expense & Income values in the group header of the PaymentListPage view are not formatted. They should be in currency format but instead are raw numbers.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any account
2. Look at the group head for any of the transactions
3. The numbers will not have currency formats

**Expected behavior**
Add currency formatting to

[2022-11-14 03:01] kg8z commented on #2597
@NPadrutt - Please assign this to me. I have a fix ready for a PR. Thanks.

[2022-11-14 05:09] kg8z commented on #1949
@NPadrutt  - How does this look as a way of deemphasizing future transactions? Adjusting the opacity seems to be a quick and simple way to achieve the effect.
<img width="1010" alt="image" src="https://user-images.githubusercontent.com/81488531/201580258-173d3e26-bde7-46e2-9157-c0bfee699d37.png">

[2022-11-14 07:41] NPadrutt commented on #1949
Your screenshot looks like I had it in mind. If you have a quick an easy way for that, awesome :)

[2022-11-14 07:45] NPadrutt commented on #2596
I think the main question then would be how to access the edit settings for an account. A tap brings you to the payment view. A long tap would work, but that is not readily available in MAUI.

Also, I found this: https://github.com/dotnet/maui/issues/6153
Might there be an issue in our code still?

[2022-11-14 07:49] NPadrutt commented on #2597
@kg8z  done

[2022-11-14 18:48] NPadrutt commented on #2595
Do I understand correct, that you installed the app from the store on a phone where it wasn't installed or deployed before and got that error message on startup?

[2022-11-14 20:16] kg8z commented on #1949
Awesome. Yep, it's actually quite easy. I need to test on Android and iOS but expect it will look the same.

[2022-11-14 20:50] NPadrutt opened #2599 "Keyboard overlapping entry on iOS"
**Describe the bug**
Keyboard overlapping entry on iOS

[2022-11-14 20:50] NPadrutt commented on #2599
This is a known bug in .net MAUI: https://github.com/dotnet/maui/issues/4792

[2022-11-16 11:01] kres0345 commented on #2595
Let me just try to wipe the storage and reinstall it to confirm.

[2022-11-16 11:05] kres0345 commented on #2595
Exact same error. Also, I have OneDrive installed

[2022-11-18 03:34] kg8z commented on #1949
@NPadrutt - I've been able to get the updated MAUI project to work for Android but iOS is eluding me. It seems (though I'm not 100% certain) that the problem has to do with my development signing certificate having been revoked. Here's the error when I try to configure the iOS Bundle Signing in VS.Net. Thoughts?
<img width="536" alt="image" src="https://user-images.githubusercontent.com/81488531/2

[2022-11-18 09:37] NPadrutt commented on #1949
@kg8z Mmh, I might have revoked your certificate by accident. But you should be able to recreate it. Your permissions should be unchanged.

[2022-11-19 04:15] kg8z commented on #1949
@NPadrutt - Thanks. It turns out I was being dense. Apparently, being out of this for a few months made me rusty. All good now. I'm able to test on iOS.

[2022-11-19 04:26] kg8z commented on #2011
@NPadrutt - Just checking in on this one. We can close it, right?

[2022-11-19 22:50] NPadrutt commented on #1949
@kg8z Ah nice. :) the whole iOS development is quite complicated. So easy to get confused there.

[2022-11-23 21:39] kres0345 opened #2608 "Inconsistency in the naming: "MoneyFox" vs. "Money Fox""
**Describe the bug**
The strings following strings spell "MoneyFox": CompletedText, WelcomePageText
The following strings spell "Money Fox" or "the Money Fox": FeedbackSubject, TranslationLabel, The name of the app.

Also, is it "the Money Fox" or just "Money Fox", personally I just use "Money fox" as it would otherwise sound silly when translated into my language.

**Expected behavior**
Be consis

[2022-11-23 21:49] krestenlaust opened #2609 "Graph Error message when logging into OneDrive"
**Describe the bug**
When synchronizing with OneDrive, it shows an error message, but I've no issues otherwise.

**To Reproduce**
Connect to OneDrive. When finished logging in with the SSO login screen, it returns to the app with the error message: "`Call failed with status code 403 (Forbidden): GET https://graph.microsoft.com/v1.0/me`"

I've always gotten this message. Simply pressing 'OK' dismis

[2022-11-23 21:56] kres0345 commented on #2609
Also the circle I suspect to contain a profile picture is just white, even though I do have a profile picture.
![316018121_8188973857840091_8543839253449446457_n](https://user-images.githubusercontent.com/17174333/203652714-3a218973-a2da-4eb5-9be5-cf7a2c4907c7.jpg)

[2022-11-27 00:45] kg8z commented on #2596
@NPadrutt

Here's another reported issue I found that's consistent with the behavior I'm seeing:[dotnet/maui#6401](https://github.com/dotnet/maui/issues/6401). Both this and the one you referenced have been closed so I would have expected the fixes to be in the current runtimes.

I've tried tests that reduce the SwipeView control just down to formatting tags (removed all binding and just left a ha

[2022-11-28 15:57] NPadrutt commented on #2609
@kres0345  can you check what the error was here? you should find that in the log which you can open via the about page.

[2022-11-28 16:16] NPadrutt commented on #2608
Thanks for bringing that up. I agree that it should be without any "the". I would go for "MoneyFox". I'll adjust the strings and translations.

[2022-11-28 17:27] NPadrutt commented on #2596
I checked on my computer and I have the same. But I get this error as well when I create a new account or payment. So I think there is currently a more general issue with the windows version. I wonder if there is another bug here in maui..

[2022-11-30 09:15] NPadrutt opened #2615 "Titlebar in Android is blue"
**Describe the bug**
The titlebar in android is blue instead of having the background color.

**Expected behavior**
The titlebar should have the same color as the background of the page.

**Smartphone (please complete the following information):**
 - OS: Android

**Additional context**
Add any other context about the problem here.

[2022-11-30 21:52] #2615 closed

[2022-11-30 22:46] NPadrutt commented on #2608
@kres0345  with the PR #2617  this should be cleanup as much as possible.

[2022-11-30 23:08] #2608 closed